/*

    Theme Name: WorkProud
    Theme URI: https://workproud.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of WorkProud
    Version: 1.0

*/









/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/

@import "normalize";

@import "variables/variables";
@import "mixins/mixins";
@import "typography/typography";
@import "layout/layout";
@import "elements/elements";

@import "plugins/slick";
@import "plugins/slick-theme";



/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/

@import "header/header";
@import "footer/footer";




/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/

@import "footer/form";

@import "template-parts/hero";


@import "template-parts/blog/editorial";
@import "template-parts/blog/featured-post";
@import "template-parts/blog/curated-posts";
@import "template-parts/blog/posts";
@import "template-parts/blog/utilities";


/*

    ----------------------------------------------------------------------
                               04 Blocks
    ----------------------------------------------------------------------

*/









/*

    ----------------------------------------------------------------------
                                05 Templates
    ----------------------------------------------------------------------

*/

@import 'templates/homepage';
@import 'templates/why';
@import 'templates/services';
@import 'templates/platform';
@import 'templates/about';
@import 'templates/app';
@import 'templates/download';
@import 'templates/demo';
@import 'templates/page';
@import "templates/index";
@import "templates/single-post";
@import "templates/single-client_landing_page";





body.postid-688  section.hero .info {
	text-align: left;
	width: 100%;
	max-width: 1200px;
}

body.postid-688  section.hero .info .copy {
	max-width: 560px;
}

body.postid-688 section.video .copy:first-of-type {
	padding: 0 0 1rem 0;
	margin-top: -2rem;
}

@media screen and (min-width: 768px) {
	body.postid-688 section.video .copy:first-of-type {
		margin-top: -4rem;
	}
}

body.postid-688 section.about-workproud {
	padding-bottom: 100px;
}