.site-header {
	background: $white;
	padding: 25px 0;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	z-index: 25;

	@include tablet-portrait {
		position: sticky;
		top: 0;
		z-index: 1000;
		width: 100%;
		padding: 35px 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.site-logo {
		max-width: 160px;
		margin-right: 50px;

		a {
			display: block;
		}
	}

	.site-nav.desktop {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
			margin-right: auto;

			.link {
				padding-top: 6px;

				& + .link {
					padding-left: 25px;
				}

				a {
					display: block;
					padding-bottom: 3px;
					border-bottom: 3px solid transparent;

					&:hover {
						border-bottom-color: $red;
					}
				}
			}			
		}

		@include desktop {
			.link + .link {
				padding-left: 50px;
			}
		}
	}

	.demo-btn {
		display: none;

		@include tablet-portrait {
			display: block;
			margin-left: auto;

			& + .hamburger {
				margin-left: 50px;
			}
		}



		.btn {
			@include tablet-portrait {
				font-size: 0.75rem;
				padding: 10px;
			}

			@include desktop {
				font-size: 0.875rem;
				padding: 15px;	
			}			
		}
		
	}

	.hamburger {
		display: flex;
		align-items: center;

		@include tablet-landscape {
			display: none;
		}

		.nav-trigger {
			width: 35px;
			height: 22px;
		    display: flex;
		    align-items: center;

			.patty {
			    width: 35px;
			    height: 3px;
			    background: $red;
			    border-radius: 2px;
			    margin-left: auto;
			    transition: all 0.2s;

				&:after, &:before {
				    content: '';
				    display: block;
				    width: 35px;
				    height: 3px;
				    background: $red;
				    position: absolute;
				    z-index: 1;
				    border-radius: 2px;
				    transition: all 0.2s;
				}
				&:before {
				    top: -8px;
				}
				&:after {
				    top: 8px;
				}
			}
		}
	}
}

// Mobile Nav
.site-nav.mobile {
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000000;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
	opacity: 0.5;
	transition: all 0.1s ease-in;
	height: 100%;
	width: 240px;
	transform: translateX(-240px);

	@include mobile-landscape {
		width: 300px;
		transform: translateX(-300px);
	}


	@include tablet-landscape {
		display: none;
	}

	.nav-wrapper {
		padding: 50px;
		height: 100%;
		border-top: 5px solid $red;
	}

	.link {
		& + .link {
			padding-top: 25px;
		}
	}

	a {
		display: inline-block;
		padding-bottom: 3px;
		border-bottom: 3px solid transparent;
		line-height: 1.125em;

		&:hover {
			border-bottom-color: $red;
		}
	}
}



// Hamburger Menu Active
body.nav-overlay-open {
	.hamburger .nav-trigger .patty {
		background: none;

		&:after {
		    top: 0;
		    transform: rotate(45deg);
		}
		&:before {
		    top: 0;
		    transform: rotate(-45deg);
		}
	}

	.site-nav.mobile {
		opacity: 1;
		transform: translateX(0);
	}
}




// Active Mobile Nav Links
body.page-template-home .site-nav.mobile .home a,
body.page-template-why .site-nav.mobile .why a,
body.page-template-services .site-nav.mobile .services a,
body.page-template-platform .site-nav.mobile .platform a,
body.page-template-about .site-nav.mobile .about a {
	border-bottom-color: $red;
}

// Active Desktop Nav Links
body.page-template-why .site-header .site-nav.desktop .why a,
body.page-template-services .site-header .site-nav.desktop .services a,
body.page-template-platform .site-header .site-nav.desktop .platform a,
body.page-template-about .site-header .site-nav.desktop .about a {
	border-bottom-color: $red;
}