section.curated-posts {
	padding-top: 50px;

	@include tablet-landscape {
		padding-top: 0;
		padding-right: 15px;
	}


	article {
		display: flex;
		align-items: flex-start;

		& + article {
			padding-top: 50px;
		}

		.photo {
			width: 72px;

			img {
				border-radius: 50%;
			}
		}

		.info {
			flex: 1;
			padding-left: 25px;

			.headline {
				h4 {
					font-size: 0.75rem;
					padding-bottom: 5px;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					a {
						color: $red;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				h3 {
					font-size: 1.25rem;

					a {
						&:hover {
							text-decoration: underline;
						}
					}

				}
			}

			.copy {
				padding-top: 10px;
			}
		}
	}
}
