article.featured-post {
	
	.headline {
		padding: 25px 0 15px 0;

		@include tablet-landscape {
			padding: 40px 0 25px 0;
		}

		h4 {
			font-size: 0.75rem;
			padding-bottom: 5px;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			a {
				color: $red;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h2 {
			font-size: 1.5rem;

			@include tablet-landscape {
				font-size: 2.25rem;
			}
		}
	}

	.copy {
		padding-bottom: 15px;

		@include tablet-landscape {
			padding-bottom: 25px;
		}
	}

}
