.posts-wrapper {
	.alm-reveal {
		display: flex;
		flex-wrap: wrap;
	}

	.alm-btn-wrap .alm-load-more-btn {
		background-color: $off-white !important;
		color: $slate;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 0.875em;
		font-weight: 700;
		padding: 5px 0;
		border-bottom: 3px solid $red;
		border-radius: 0;

		&:hover {
			color: $slate;
		}

		@include tablet-portrait {
			font-size: 1em;
		}

	}

	article.post {
		width: 100%;
		margin-bottom: 50px;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
		background: $white;

		@include mobile-landscape {
			width: calc(50% - 12.5px);

			&:nth-child(even) {
				margin-left: 25px;
			}
		}

		@include tablet-portrait {
			width: calc(33.3333% - 16.6666px);

			&:nth-child(even) {
				margin-left: 0;
			}
			&:nth-child(3n+2) {
				margin-left: 25px;
				margin-right: 25px;
			}
		}

		.photo {
			@include aspect-ratio(16, 9);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;	

			a, img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			img {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;				
			}
		}

		.info {
			padding: 40px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			.headline {
				padding-bottom: 15px;

				h4 {
					font-size: 0.75rem;
					padding-bottom: 5px;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					a {
						color: $red;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				h3 {
					font-size: 1.25rem;

					a {
						&:hover {
							text-decoration: underline;
						}
					}

				}
			}
		}

		.cta {
			padding-top: 25px;
		}
	}
}


body.category {
	article.post {
		.info {
			.headline {
				h4 {
					display: none;
				}
			}
		}
	}
}