.utilities {
	background: $green;
	padding: 25px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	@include tablet-portrait {
		padding: 15px 25px;
	}

	.filters {
		width: 100%;

		@include tablet-landscape {
			flex: 1;
			width: auto;
		}
	}

	.links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.link {
			width: 33.3333%;
			padding: 5px 0;

			@include tablet-portrait {
				padding: 0;
				width: auto;

				& + .link {
					padding-left: 25px;
				}
			}

			&.link-header {
				h5 {
					color: $white;
					font-size: 0.875em;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}

			a {
				color: $white;
				font-size: 0.875em;
				font-weight: 500;

				&:hover {
					color: $light-green;
				}
			}
		}
	}

	.search-wrapper {
		padding-top: 25px;
		width: 100%;

		@include tablet-landscape {
			padding-top: 0;
			width: auto;
		}

		form {
			display: flex;
			align-items: center;

			input[type="search"] {
				display: block;
				padding: 5px 10px;
				border-radius: 0;
				border: none;
				appearance: none;
				max-width: 200px;

				&:focus,
				&:active {
					outline: none;
				}
			}

			input[type="submit"] {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: 500;
				border: none;
				padding: 0 0 5px 0;
				border-bottom: 2px solid $white;
				color: $white;
				background: transparent;
				margin-left: 10px;		
			}
		}
				
	}
}