body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@include tablet-landscape {
		padding: 0 50px;
	}

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);

	&.three-col {
		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.four-col {
		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
		}

		@include tablet-landscape {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}