/*

    Theme Name: WorkProud
    Theme URI: https://workproud.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of WorkProud
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

@font-face {
  font-family: 'made_dillanregular';
  src: url("fonts/made_dillan_personal_use-webfont.woff2") format("woff2"), url("fonts/made_dillan_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Roboto", sans-serif; }

::-moz-selection {
  background: #DB3F2A;
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: #DB3F2A;
  color: #FFFFFF;
  text-shadow: none; }

a {
  color: #1C1B19;
  transition: all 0.2s ease-in; }

.headline h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.125em; }
  @media screen and (min-width: 768px) {
    .headline h1 {
      font-size: 3rem; } }
  @media screen and (min-width: 1280px) {
    .headline h1 {
      font-size: 4rem; } }

.headline h2 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.125em; }
  @media screen and (min-width: 768px) {
    .headline h2 {
      font-size: 3rem; } }

.headline h3 {
  font-weight: bold;
  font-size: 1.6125rem;
  line-height: 1.125em; }
  @media screen and (min-width: 768px) {
    .headline h3 {
      font-size: 2.25rem; } }

.headline h4 {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.125em; }
  @media screen and (min-width: 768px) {
    .headline h4 {
      font-size: 1.875rem; } }

.headline h5 {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.125em; }
  @media screen and (min-width: 768px) {
    .headline h5 {
      font-size: 1.25rem; } }

.copy {
  line-height: 1.5em; }
  .copy.p1 {
    font-size: 1rem;
    line-height: 1.5em; }
    @media screen and (min-width: 1024px) {
      .copy.p1 {
        font-size: 1.375rem; } }
    @media screen and (min-width: 1280px) {
      .copy.p1 {
        font-size: 1.5rem; } }
  .copy.p2 {
    font-size: 1.125em; }
    @media screen and (min-width: 768px) {
      .copy.p2 {
        font-size: 1.5rem; } }
  .copy.p3 {
    font-size: 0.875em; }
    @media screen and (min-width: 768px) {
      .copy.p3 {
        font-size: 1rem; } }
    @media screen and (min-width: 1280px) {
      .copy.p3 {
        font-size: 1.125rem; } }
  .copy.p4 {
    font-size: 0.75em; }
    @media screen and (min-width: 768px) {
      .copy.p4 {
        font-size: 0.875rem; } }
  .copy.extended a {
    color: #DB3F2A;
    text-decoration: underline; }
  .copy.extended ol {
    list-style-type: decimal; }
  .copy.extended ul {
    list-style-type: disc; }
  .copy.extended p, .copy.extended ul, .copy.extended ol, .copy.extended table {
    margin-bottom: 30px; }
  .copy.extended ul, .copy.extended ol {
    margin-left: 25px; }
    .copy.extended ul li + li, .copy.extended ol li + li {
      margin-top: 5px; }
    .copy.extended ul li ul, .copy.extended ul li ol, .copy.extended ol li ul, .copy.extended ol li ol {
      margin-top: 10px; }
  .copy.extended h1, .copy.extended h2, .copy.extended h3, .copy.extended h4, .copy.extended h5, .copy.extended h6 {
    margin-bottom: 5px; }
  .copy.extended h2 {
    font-size: 1.5em; }
  .copy.extended h3 {
    font-size: 1.375em; }
  .copy.extended h4 {
    font-size: 1.25em; }
  .copy.extended h5 {
    font-size: 1.125em; }
  .copy.extended table td {
    font-size: 0.875rem;
    padding: 20px; }
  .copy.extended blockquote {
    margin: 0 0 20px 0;
    padding: 0 0 0 25px;
    border-left: 5px solid #24ACA0;
    display: block; }
    .copy.extended blockquote p {
      padding-bottom: 0;
      font-size: 0.875rem; }
      .copy.extended blockquote p + p {
        padding-top: 20px; }
    .copy.extended blockquote h2, .copy.extended blockquote h3, .copy.extended blockquote h4, .copy.extended blockquote h5 {
      padding-bottom: 20px; }

body {
  background: #FFFFFF; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  @media screen and (min-width: 568px) {
    .grid.three-col {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    .grid.three-col {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 568px) {
    .grid.four-col {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    .grid.four-col {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1024px) {
    .grid.four-col {
      grid-template-columns: repeat(4, 1fr); } }

.btn {
  color: #DB3F2A;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 15px;
  border: 2px solid #DB3F2A;
  border-radius: 4px;
  line-height: 1em; }
  .btn:hover {
    background: #DB3F2A;
    color: #FFFFFF; }

.small-red-btn {
  background: #DB3F2A;
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1em;
  padding: 15px;
  border-radius: 4px; }
  .small-red-btn.wide {
    padding: 15px 30px; }
  @media screen and (min-width: 1024px) {
    .small-red-btn {
      font-size: 0.875rem;
      padding: 18px; }
      .small-red-btn.wide {
        padding: 18px 36px; } }

.underline-btn {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #DB3F2A;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
  @media screen and (min-width: 768px) {
    .underline-btn {
      font-size: 0.875rem; } }

:root {
  --svg-ltr: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='white'><polygon points='100 0, 100 10, 0 10' /></svg>");
  --svg-rtl: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='white'><polygon points='0 0, 100 10, 0 10' /></svg>");
  --svg-ltr-gray: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='rgb(250, 250, 250)'><polygon points='100 0, 100 10, 0 10' /></svg>");
  --svg-rtl-gray: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='rgb(250, 250, 250)'><polygon points='0 0, 100 10, 0 10' /></svg>"); }

.diagonal {
  z-index: 10; }
  .diagonal.top {
    margin-bottom: -50px;
    transform: rotate(180deg); }
    @media screen and (min-width: 768px) {
      .diagonal.top {
        margin-bottom: -100px; } }
    @media screen and (min-width: 1280px) {
      .diagonal.top {
        margin-bottom: -150px; } }
  .diagonal.bottom {
    margin-top: -50px; }
    @media screen and (min-width: 768px) {
      .diagonal.bottom {
        margin-top: -100px; } }
    @media screen and (min-width: 1280px) {
      .diagonal.bottom {
        margin-top: -150px; } }
  .diagonal .shape {
    display: block;
    width: 100%;
    height: 50px;
    background-size: 100% 50px;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      .diagonal .shape {
        height: 100px;
        background-size: 100% 100px; } }
    @media screen and (min-width: 1280px) {
      .diagonal .shape {
        height: 150px;
        background-size: 100% 150px; } }
  .diagonal .ltr {
    background-image: var(--svg-ltr); }
  .diagonal .rtl {
    background-image: var(--svg-rtl); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -35px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 1; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 20px; }
  @media screen and (min-width: 1280px) {
    .slick-prev {
      left: 40px; }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: 40px; } }
  .slick-prev:before {
    background: url(images/left-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

.slick-next {
  right: 20px; }
  [dir="rtl"] .slick-next {
    left: 20px;
    right: auto; }
  @media screen and (min-width: 1280px) {
    .slick-next {
      right: 40px; }
      [dir="rtl"] .slick-next {
        left: 40px;
        right: auto; } }
  .slick-next:before {
    background: url(images/right-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 100; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 6px;
        height: 6px;
        line-height: 20px;
        text-align: center;
        background: #FFFFFF;
        border: 2px solid #1C1B19;
        border-radius: 50%; }
    .slick-dots li.slick-active button:before {
      background: #DB3F2A;
      border-color: #DB3F2A; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  background: #FFFFFF;
  padding: 25px 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  z-index: 25; }
  @media screen and (min-width: 768px) {
    .site-header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
      padding: 35px 0; } }
  .site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .site-header .site-logo {
    max-width: 160px;
    margin-right: 50px; }
    .site-header .site-logo a {
      display: block; }
  .site-header .site-nav.desktop {
    display: none; }
    @media screen and (min-width: 1024px) {
      .site-header .site-nav.desktop {
        display: flex;
        align-items: center;
        margin-right: auto; }
        .site-header .site-nav.desktop .link {
          padding-top: 6px; }
          .site-header .site-nav.desktop .link + .link {
            padding-left: 25px; }
          .site-header .site-nav.desktop .link a {
            display: block;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent; }
            .site-header .site-nav.desktop .link a:hover {
              border-bottom-color: #DB3F2A; } }
    @media screen and (min-width: 1280px) {
      .site-header .site-nav.desktop .link + .link {
        padding-left: 50px; } }
  .site-header .demo-btn {
    display: none; }
    @media screen and (min-width: 768px) {
      .site-header .demo-btn {
        display: block;
        margin-left: auto; }
        .site-header .demo-btn + .hamburger {
          margin-left: 50px; } }
    @media screen and (min-width: 768px) {
      .site-header .demo-btn .btn {
        font-size: 0.75rem;
        padding: 10px; } }
    @media screen and (min-width: 1280px) {
      .site-header .demo-btn .btn {
        font-size: 0.875rem;
        padding: 15px; } }
  .site-header .hamburger {
    display: flex;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .site-header .hamburger {
        display: none; } }
    .site-header .hamburger .nav-trigger {
      width: 35px;
      height: 22px;
      display: flex;
      align-items: center; }
      .site-header .hamburger .nav-trigger .patty {
        width: 35px;
        height: 3px;
        background: #DB3F2A;
        border-radius: 2px;
        margin-left: auto;
        transition: all 0.2s; }
        .site-header .hamburger .nav-trigger .patty:after, .site-header .hamburger .nav-trigger .patty:before {
          content: '';
          display: block;
          width: 35px;
          height: 3px;
          background: #DB3F2A;
          position: absolute;
          z-index: 1;
          border-radius: 2px;
          transition: all 0.2s; }
        .site-header .hamburger .nav-trigger .patty:before {
          top: -8px; }
        .site-header .hamburger .nav-trigger .patty:after {
          top: 8px; }

.site-nav.mobile {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  transition: all 0.1s ease-in;
  height: 100%;
  width: 240px;
  transform: translateX(-240px); }
  @media screen and (min-width: 568px) {
    .site-nav.mobile {
      width: 300px;
      transform: translateX(-300px); } }
  @media screen and (min-width: 1024px) {
    .site-nav.mobile {
      display: none; } }
  .site-nav.mobile .nav-wrapper {
    padding: 50px;
    height: 100%;
    border-top: 5px solid #DB3F2A; }
  .site-nav.mobile .link + .link {
    padding-top: 25px; }
  .site-nav.mobile a {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    line-height: 1.125em; }
    .site-nav.mobile a:hover {
      border-bottom-color: #DB3F2A; }

body.nav-overlay-open .hamburger .nav-trigger .patty {
  background: none; }
  body.nav-overlay-open .hamburger .nav-trigger .patty:after {
    top: 0;
    transform: rotate(45deg); }
  body.nav-overlay-open .hamburger .nav-trigger .patty:before {
    top: 0;
    transform: rotate(-45deg); }

body.nav-overlay-open .site-nav.mobile {
  opacity: 1;
  transform: translateX(0); }

body.page-template-home .site-nav.mobile .home a,
body.page-template-why .site-nav.mobile .why a,
body.page-template-services .site-nav.mobile .services a,
body.page-template-platform .site-nav.mobile .platform a,
body.page-template-about .site-nav.mobile .about a {
  border-bottom-color: #DB3F2A; }

body.page-template-why .site-header .site-nav.desktop .why a,
body.page-template-services .site-header .site-nav.desktop .services a,
body.page-template-platform .site-header .site-nav.desktop .platform a,
body.page-template-about .site-header .site-nav.desktop .about a {
  border-bottom-color: #DB3F2A; }

.site-footer {
  background: #96D4CF;
  padding: 50px 0;
  margin-top: 50px;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .site-footer {
      padding: 100px 0;
      margin-top: 100px; } }
  .site-footer:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/footer-bullhorn.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 130px;
    top: -20px;
    right: -25px; }
    @media screen and (min-width: 768px) {
      .site-footer:before {
        top: -25px;
        right: -50px;
        width: 200px;
        height: 180px; } }
    @media screen and (min-width: 1280px) {
      .site-footer:before {
        top: -80px;
        right: -60px;
        width: 300px;
        height: 250px; } }
  @media screen and (min-width: 1280px) {
    .site-footer:after {
      content: '';
      display: block;
      position: absolute;
      background: url(images/footer-shapes.svg) no-repeat 0 0;
      background-size: 100%;
      width: 131px;
      height: 181px;
      bottom: -20px;
      left: -20px; } }
  .site-footer .footer-logo {
    max-width: 180px;
    padding-bottom: 50px; }
    @media screen and (min-width: 568px) {
      .site-footer .footer-logo {
        max-width: 240px; } }
    .site-footer .footer-logo a {
      display: block; }
  .site-footer .footer-nav {
    padding-bottom: 50px;
    gap: 50px; }
    @media screen and (min-width: 568px) {
      .site-footer .footer-nav {
        padding-bottom: 100px; } }
    .site-footer .footer-nav .link + .link {
      padding-top: 18px; }
    .site-footer .footer-nav .link a {
      font-size: 1.125rem; }
      .site-footer .footer-nav .link a:hover {
        text-decoration: underline; }
  .site-footer .contact-info .contact + .contact {
    padding-top: 25px; }
  .site-footer .contact-info .contact .headline {
    padding-bottom: 10px; }
    .site-footer .contact-info .contact .headline h5 {
      font-size: 1rem;
      line-height: 1.25em; }
      .site-footer .contact-info .contact .headline h5 em {
        display: block;
        font-weight: normal; }
  .site-footer .contact-info .contact .copy p + p {
    padding-top: 20px; }
  .site-footer .platform {
    padding-bottom: 50px; }
    .site-footer .platform .headline {
      padding-bottom: 20px; }
      .site-footer .platform .headline h5 {
        text-transform: uppercase;
        font-size: 0.8125rem;
        letter-spacing: 0.05em; }
    .site-footer .platform .logos {
      display: flex;
      align-items: center; }
      .site-footer .platform .logos .logo + .logo {
        padding-left: 20px; }
  .site-footer .legal {
    border-top: 1px solid #1C1B19;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .site-footer .legal .copyright {
      padding-right: 10px; }
      .site-footer .legal .copyright p {
        font-size: 0.75rem; }
    .site-footer .legal .links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      transform: translateY(-1px); }
      .site-footer .legal .links .link + .link {
        padding-left: 10px; }
      .site-footer .legal .links .link a {
        font-size: 0.75rem;
        display: inline-block;
        text-decoration: underline; }
    .site-footer .legal .social {
      display: flex;
      align-items: center;
      margin-left: auto; }
      .site-footer .legal .social a {
        display: block; }
        .site-footer .legal .social a + a {
          margin-left: 10px; }
          @media screen and (min-width: 768px) {
            .site-footer .legal .social a + a {
              margin-left: 20px; } }
        .site-footer .legal .social a img {
          width: 100%;
          max-width: 24px;
          height: 100%;
          max-height: 18px; }

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
section.form {
  padding: 100px 0; }
  @media screen and (min-width: 768px) {
    section.form {
      padding: 200px 0 100px 0; } }
  section.form .headline {
    text-align: center;
    padding-bottom: 50px; }
  section.form .form-wrapper {
    max-width: 600px;
    margin: 0 auto; }
    section.form .form-wrapper:after {
      content: '';
      display: block;
      position: absolute;
      background: url(images/group-ornaments-1.svg) no-repeat 0 0;
      background-size: 100%;
      width: 150px;
      height: 450px;
      left: -100px;
      top: -60px;
      z-index: -1; }
      @media screen and (min-width: 768px) {
        section.form .form-wrapper:after {
          left: -120px;
          width: 200px;
          height: 600px; } }
  section.form form.sf-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  section.form .input-row {
    width: 100%; }
    section.form .input-row + .input-row {
      padding-top: 20px; }
    section.form .input-row.first-name, section.form .input-row.last-name {
      width: calc(50% - 10px);
      padding-top: 0; }
    section.form .input-row input, section.form .input-row textarea, section.form .input-row select {
      width: 100%; }
    section.form .input-row label span {
      display: block;
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 1rem;
      color: #aaa; }
    section.form .input-row input {
      border: 1px solid #D5D5D5;
      border-radius: 5px;
      height: 60px;
      line-height: 1em;
      padding: 0 15px;
      font-size: 1.25rem;
      font-weight: bold;
      color: #1C1B19; }
      section.form .input-row input::-webkit-input-placeholder {
        color: #BDBDBC; }
      section.form .input-row input::-moz-placeholder {
        color: #BDBDBC; }
      section.form .input-row input:-moz-placeholder {
        color: #BDBDBC; }
      section.form .input-row input:-ms-input-placeholder {
        color: #BDBDBC; }
    section.form .input-row textarea {
      border: 1px solid #D5D5D5;
      border-radius: 5px;
      height: 160px;
      padding: 15px;
      font-size: 1.125rem;
      line-height: 1.25em; }
    section.form .input-row select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 1.3em);
      background-repeat: no-repeat;
      box-shadow: none;
      border: 1px solid #D5D5D5;
      border-radius: 5px;
      padding: 15px;
      height: 60px;
      font-size: 1.125rem;
      color: #1C1B19; }
  section.form .opt-in.field-container {
    background: rgba(36, 172, 160, 0.1);
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start; }
    section.form .opt-in.field-container .label {
      padding-left: 20px; }
  section.form .g-recaptcha {
    padding-top: 20px;
    width: 100%; }
  section.form .tour-btn {
    width: 100%;
    padding-top: 20px; }
    section.form .tour-btn input[type="submit"] {
      background: #DB3F2A;
      color: #FFFFFF;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1em;
      padding: 24px 36px;
      border-radius: 4px;
      border: none;
      width: 100%;
      transition: all 0.2 ease-in; }
      @media screen and (min-width: 568px) {
        section.form .tour-btn input[type="submit"] {
          width: calc(50% - 10px); } }
      section.form .tour-btn input[type="submit"][disabled="true"] {
        background: #aaa;
        cursor: not-allowed; }

section.hero {
  position: relative; }
  section.hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  section.hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    section.hero {
      position: relative;
      max-height: 700px; }
      section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media screen and (min-width: 1024px) {
    section.hero {
      position: relative; }
      section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 43.75%; }
      section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  section.hero .hero-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  section.hero .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }
  section.hero .wrapper {
    display: flex;
    align-items: center;
    height: 100%; }
  section.hero .info {
    padding: 50px 0;
    color: #FFFFFF;
    max-width: 600px; }
    section.hero .info .sub-headline {
      padding-bottom: 10px; }
      section.hero .info .sub-headline h4 {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.875rem; }
    section.hero .info .copy {
      padding-top: 25px; }
      section.hero .info .copy p + p {
        padding-top: 25px; }

@media screen and (min-width: 1024px) {
  section.editorial .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    section.editorial .wrapper article.featured-post {
      width: calc(66.6666% - 25px); }
    section.editorial .wrapper section.curated-posts {
      width: calc(33.3333% - 25px); } }

article.featured-post .headline {
  padding: 25px 0 15px 0; }
  @media screen and (min-width: 1024px) {
    article.featured-post .headline {
      padding: 40px 0 25px 0; } }
  article.featured-post .headline h4 {
    font-size: 0.75rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
    article.featured-post .headline h4 a {
      color: #DB3F2A; }
      article.featured-post .headline h4 a:hover {
        text-decoration: underline; }
  article.featured-post .headline h2 {
    font-size: 1.5rem; }
    @media screen and (min-width: 1024px) {
      article.featured-post .headline h2 {
        font-size: 2.25rem; } }

article.featured-post .copy {
  padding-bottom: 15px; }
  @media screen and (min-width: 1024px) {
    article.featured-post .copy {
      padding-bottom: 25px; } }

section.curated-posts {
  padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    section.curated-posts {
      padding-top: 0;
      padding-right: 15px; } }
  section.curated-posts article {
    display: flex;
    align-items: flex-start; }
    section.curated-posts article + article {
      padding-top: 50px; }
    section.curated-posts article .photo {
      width: 72px; }
      section.curated-posts article .photo img {
        border-radius: 50%; }
    section.curated-posts article .info {
      flex: 1;
      padding-left: 25px; }
      section.curated-posts article .info .headline h4 {
        font-size: 0.75rem;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        section.curated-posts article .info .headline h4 a {
          color: #DB3F2A; }
          section.curated-posts article .info .headline h4 a:hover {
            text-decoration: underline; }
      section.curated-posts article .info .headline h3 {
        font-size: 1.25rem; }
        section.curated-posts article .info .headline h3 a:hover {
          text-decoration: underline; }
      section.curated-posts article .info .copy {
        padding-top: 10px; }

.posts-wrapper .alm-reveal {
  display: flex;
  flex-wrap: wrap; }

.posts-wrapper .alm-btn-wrap .alm-load-more-btn {
  background-color: #FAFAFA !important;
  color: #1C1B19;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875em;
  font-weight: 700;
  padding: 5px 0;
  border-bottom: 3px solid #DB3F2A;
  border-radius: 0; }
  .posts-wrapper .alm-btn-wrap .alm-load-more-btn:hover {
    color: #1C1B19; }
  @media screen and (min-width: 768px) {
    .posts-wrapper .alm-btn-wrap .alm-load-more-btn {
      font-size: 1em; } }

.posts-wrapper article.post {
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background: #FFFFFF; }
  @media screen and (min-width: 568px) {
    .posts-wrapper article.post {
      width: calc(50% - 12.5px); }
      .posts-wrapper article.post:nth-child(even) {
        margin-left: 25px; } }
  @media screen and (min-width: 768px) {
    .posts-wrapper article.post {
      width: calc(33.3333% - 16.6666px); }
      .posts-wrapper article.post:nth-child(even) {
        margin-left: 0; }
      .posts-wrapper article.post:nth-child(3n+2) {
        margin-left: 25px;
        margin-right: 25px; } }
  .posts-wrapper article.post .photo {
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .posts-wrapper article.post .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    .posts-wrapper article.post .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .posts-wrapper article.post .photo a, .posts-wrapper article.post .photo img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%; }
    .posts-wrapper article.post .photo img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .posts-wrapper article.post .info {
    padding: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .posts-wrapper article.post .info .headline {
      padding-bottom: 15px; }
      .posts-wrapper article.post .info .headline h4 {
        font-size: 0.75rem;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        .posts-wrapper article.post .info .headline h4 a {
          color: #DB3F2A; }
          .posts-wrapper article.post .info .headline h4 a:hover {
            text-decoration: underline; }
      .posts-wrapper article.post .info .headline h3 {
        font-size: 1.25rem; }
        .posts-wrapper article.post .info .headline h3 a:hover {
          text-decoration: underline; }
  .posts-wrapper article.post .cta {
    padding-top: 25px; }

body.category article.post .info .headline h4 {
  display: none; }

.utilities {
  background: #24ACA0;
  padding: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .utilities {
      padding: 15px 25px; } }
  .utilities .filters {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .utilities .filters {
        flex: 1;
        width: auto; } }
  .utilities .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .utilities .links .link {
      width: 33.3333%;
      padding: 5px 0; }
      @media screen and (min-width: 768px) {
        .utilities .links .link {
          padding: 0;
          width: auto; }
          .utilities .links .link + .link {
            padding-left: 25px; } }
      .utilities .links .link.link-header h5 {
        color: #FFFFFF;
        font-size: 0.875em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
      .utilities .links .link a {
        color: #FFFFFF;
        font-size: 0.875em;
        font-weight: 500; }
        .utilities .links .link a:hover {
          color: #96D4CF; }
  .utilities .search-wrapper {
    padding-top: 25px;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .utilities .search-wrapper {
        padding-top: 0;
        width: auto; } }
    .utilities .search-wrapper form {
      display: flex;
      align-items: center; }
      .utilities .search-wrapper form input[type="search"] {
        display: block;
        padding: 5px 10px;
        border-radius: 0;
        border: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        max-width: 200px; }
        .utilities .search-wrapper form input[type="search"]:focus, .utilities .search-wrapper form input[type="search"]:active {
          outline: none; }
      .utilities .search-wrapper form input[type="submit"] {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.875em;
        font-weight: 500;
        border: none;
        padding: 0 0 5px 0;
        border-bottom: 2px solid #FFFFFF;
        color: #FFFFFF;
        background: transparent;
        margin-left: 10px; }

/*

    ----------------------------------------------------------------------
                               04 Blocks
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                05 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage section.home-hero {
  background: #FAFAFA;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.home-hero {
      position: relative;
      max-height: 700px; }
      body.page-template-homepage section.home-hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      body.page-template-homepage section.home-hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media screen and (min-width: 1280px) {
    body.page-template-homepage section.home-hero {
      position: relative; }
      body.page-template-homepage section.home-hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 43.75%; }
      body.page-template-homepage section.home-hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body.page-template-homepage section.home-hero .content {
    padding: 75px 0 25px 0; }
    @media screen and (min-width: 768px) {
      body.page-template-homepage section.home-hero .content {
        padding: 0; } }
    body.page-template-homepage section.home-hero .content:before {
      content: '';
      display: block;
      position: absolute;
      background: url(images/green-circle.svg) no-repeat 0 0;
      background-size: 100%;
      width: 100px;
      height: 100px;
      top: -30px;
      right: -30px;
      z-index: 1; }
      @media screen and (min-width: 768px) {
        body.page-template-homepage section.home-hero .content:before {
          top: -75px;
          right: -75px;
          width: 200px;
          height: 200px; } }
    body.page-template-homepage section.home-hero .content:after {
      content: '';
      display: block;
      position: absolute;
      background: url(images/group-ornaments-green.svg) no-repeat 0 0;
      background-size: 100%;
      width: 153px;
      height: 161px;
      left: -50px;
      bottom: -75px;
      z-index: 5; }
      @media screen and (min-width: 768px) {
        body.page-template-homepage section.home-hero .content:after {
          bottom: -25px;
          left: -25px; } }
  body.page-template-homepage section.home-hero .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%; }
    body.page-template-homepage section.home-hero .wrapper .info {
      margin-top: -25px;
      z-index: 10; }
      @media screen and (min-width: 768px) {
        body.page-template-homepage section.home-hero .wrapper .info {
          margin-top: -50px; } }
      @media screen and (min-width: 1280px) {
        body.page-template-homepage section.home-hero .wrapper .info {
          margin-top: -75px; } }
  body.page-template-homepage section.home-hero .info {
    width: 100%; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.home-hero .info {
        width: 100%;
        max-width: calc(50% - 25px); } }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.home-hero .info {
        max-width: 640px; } }
  body.page-template-homepage section.home-hero .graphic {
    width: 100%;
    z-index: 20;
    padding-top: 20px; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.home-hero .graphic {
        padding-top: 0;
        width: auto;
        flex: 1;
        height: 100%; } }
    body.page-template-homepage section.home-hero .graphic img {
      margin: 0 auto; }
      @media screen and (min-width: 568px) {
        body.page-template-homepage section.home-hero .graphic img {
          bottom: 0;
          left: 0;
          width: 150%;
          max-width: 150%; } }
      @media screen and (min-width: 768px) {
        body.page-template-homepage section.home-hero .graphic img {
          position: absolute; } }
  body.page-template-homepage section.home-hero h1 {
    color: #DB3F2A;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1em; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.home-hero h1 {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.home-hero h1 {
        font-size: 3rem; } }
    @media screen and (min-width: 1280px) {
      body.page-template-homepage section.home-hero h1 {
        font-size: 3.5rem; } }
  body.page-template-homepage section.home-hero .copy {
    padding-top: 25px;
    max-width: 640px; }
    body.page-template-homepage section.home-hero .copy.p1 {
      font-size: 1rem;
      line-height: 1.5em; }
      @media screen and (min-width: 1024px) {
        body.page-template-homepage section.home-hero .copy.p1 {
          font-size: 1.375rem; } }
      @media screen and (min-width: 1280px) {
        body.page-template-homepage section.home-hero .copy.p1 {
          font-size: 1.5rem; } }
  body.page-template-homepage section.home-hero .cta {
    padding-top: 25px; }

body.page-template-homepage section.how-it-works {
  padding: 50px 0; }
  @media screen and (min-width: 1024px) {
    body.page-template-homepage section.how-it-works {
      padding: 150px 0 50px 0; } }
  body.page-template-homepage section.how-it-works .thumbnail {
    max-width: 660px;
    margin: 0 auto; }
  body.page-template-homepage section.how-it-works .info {
    padding-top: 25px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto; }
    body.page-template-homepage section.how-it-works .info .copy {
      padding-top: 10px; }
    body.page-template-homepage section.how-it-works .info .cta {
      padding-top: 25px; }

body.page-template-homepage section.why {
  padding: 100px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.why {
      padding: 150px 0; } }
  @media screen and (min-width: 568px) {
    body.page-template-homepage section.why .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      body.page-template-homepage section.why .wrapper > div {
        width: calc(50% - 25px); } }
  body.page-template-homepage section.why .info .copy {
    padding-top: 10px; }
  body.page-template-homepage section.why .info .cta {
    padding-top: 25px; }
  body.page-template-homepage section.why .graphic {
    padding-top: 25px; }
    @media screen and (min-width: 568px) {
      body.page-template-homepage section.why .graphic {
        padding-top: 0; } }
    body.page-template-homepage section.why .graphic img {
      border-radius: 5px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }

body.page-template-homepage section.companies {
  padding: 75px 0;
  overflow: hidden;
  background: #FAFAFA; }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.companies {
      padding: 250px 0; } }
  body.page-template-homepage section.companies:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/yellow-circle.svg) no-repeat 0 0;
    background-size: 100%;
    width: 100px;
    height: 100px;
    bottom: -30px;
    right: -30px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-homepage section.companies:before {
        bottom: -50px;
        right: -50px;
        width: 200px;
        height: 200px; } }
  body.page-template-homepage section.companies:after {
    content: '';
    display: block;
    position: absolute;
    background: url(images/group-ornaments-1.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 450px;
    left: -50px;
    top: -75px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-homepage section.companies:after {
        top: -75px;
        left: -75px;
        width: 200px;
        height: 600px; } }
    @media screen and (min-width: 1280px) {
      body.page-template-homepage section.companies:after {
        top: -50px;
        left: -50px; } }
  body.page-template-homepage section.companies .headline {
    text-align: center;
    padding-bottom: 50px; }
  body.page-template-homepage section.companies .gallery {
    gap: 50px; }
    body.page-template-homepage section.companies .gallery .logo {
      display: flex;
      align-items: center;
      justify-content: center; }
      body.page-template-homepage section.companies .gallery .logo a {
        display: block; }
      body.page-template-homepage section.companies .gallery .logo img {
        max-width: 180px;
        max-height: 50px;
        display: block; }

body.page-template-homepage section.testimonials {
  padding: 125px 0 100px 0;
  overflow: hidden; }
  body.page-template-homepage section.testimonials:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/black-bullhorn.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 130px;
    top: -20px;
    left: -30px; }
    @media screen and (min-width: 1024px) {
      body.page-template-homepage section.testimonials:before {
        top: -25px;
        left: -50px;
        width: 200px;
        height: 180px; } }
    @media screen and (min-width: 1280px) {
      body.page-template-homepage section.testimonials:before {
        top: -50px;
        left: -60px;
        width: 300px;
        height: 250px; } }
  @media screen and (min-width: 768px) {
    body.page-template-homepage section.testimonials .slick-dots {
      bottom: -100px; } }
  body.page-template-homepage section.testimonials .quote:focus, body.page-template-homepage section.testimonials .quote:active {
    outline: none; }
  body.page-template-homepage section.testimonials .quote .pullquote {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 50px; }
    @media screen and (min-width: 1280px) {
      body.page-template-homepage section.testimonials .quote .pullquote {
        padding: 0; } }
    body.page-template-homepage section.testimonials .quote .pullquote p {
      font-family: "made_dillanregular", serif;
      font-size: 1.5rem;
      line-height: 1.125em; }
      @media screen and (min-width: 768px) {
        body.page-template-homepage section.testimonials .quote .pullquote p {
          font-size: 1.875rem; } }
      @media screen and (min-width: 1280px) {
        body.page-template-homepage section.testimonials .quote .pullquote p {
          font-size: 2.25rem; } }
    body.page-template-homepage section.testimonials .quote .pullquote:after {
      display: block;
      content: '';
      background: url(images/quote.svg) no-repeat 0 0;
      background-size: 100%;
      position: absolute;
      width: 57px;
      height: 44px;
      right: 0;
      bottom: -22px;
      z-index: -1; }
      @media screen and (min-width: 1280px) {
        body.page-template-homepage section.testimonials .quote .pullquote:after {
          width: 114px;
          height: 87px;
          right: -114px;
          bottom: -44px; } }
  body.page-template-homepage section.testimonials .quote .logo {
    padding: 25px 50px 0 50px;
    max-width: 840px;
    margin: 0 auto; }
    body.page-template-homepage section.testimonials .quote .logo img {
      max-width: 240px; }
    @media screen and (min-width: 1280px) {
      body.page-template-homepage section.testimonials .quote .logo {
        padding: 50px 0 0 0; } }

body.page-template-homepage section.latest-posts {
  padding: 100px 0 0 0; }
  body.page-template-homepage section.latest-posts .section-header {
    padding-bottom: 30px; }
    body.page-template-homepage section.latest-posts .section-header h3 {
      color: #24ACA0;
      font-weight: 600; }
  body.page-template-homepage section.latest-posts .posts-wrapper {
    display: grid;
    gap: 50px 32px;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr)); }
    body.page-template-homepage section.latest-posts .posts-wrapper article.post {
      width: 100%;
      margin: 0; }
  body.page-template-homepage section.latest-posts .section-cta {
    padding-top: 50px;
    text-align: center; }

body.page-template-why section.intro {
  padding: 100px 0; }
  @media screen and (min-width: 568px) {
    body.page-template-why section.intro .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      body.page-template-why section.intro .wrapper > div {
        width: calc(50% - 25px); }
      body.page-template-why section.intro .wrapper .graphic {
        order: 2; } }
  body.page-template-why section.intro .graphic img {
    margin: 0 auto; }
  body.page-template-why section.intro .info {
    padding-top: 25px; }
    body.page-template-why section.intro .info .copy {
      padding-top: 25px;
      max-width: 480px; }

body.page-template-why section.how {
  padding: 100px 0;
  background: #FAFAFA; }
  @media screen and (min-width: 568px) {
    body.page-template-why section.how {
      padding: 125px 0; } }
  @media screen and (min-width: 768px) {
    body.page-template-why section.how {
      padding: 200px 0; } }
  body.page-template-why section.how .section-header {
    text-align: center;
    padding-bottom: 50px; }
    @media screen and (min-width: 768px) {
      body.page-template-why section.how .section-header {
        padding-bottom: 100px; } }
    body.page-template-why section.how .section-header h3 {
      color: #DB3F2A; }
  body.page-template-why section.how .feature {
    max-width: 1038px;
    margin: 0 auto; }
    @media screen and (min-width: 568px) {
      body.page-template-why section.how .feature {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body.page-template-why section.how .feature > div {
          width: 50%; }
        body.page-template-why section.how .feature .info {
          flex: 1; }
        body.page-template-why section.how .feature:nth-of-type(even) .photo {
          order: 2; } }
    body.page-template-why section.how .feature + .feature {
      padding-top: 100px; }
      @media screen and (min-width: 768px) {
        body.page-template-why section.how .feature + .feature {
          padding-top: 150px; } }
    body.page-template-why section.how .feature .photo {
      position: relative; }
      body.page-template-why section.how .feature .photo:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 70%; }
      body.page-template-why section.how .feature .photo > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      body.page-template-why section.how .feature .photo img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: 5;
        position: relative; }
    @media screen and (min-width: 768px) {
      body.page-template-why section.how .feature:nth-of-type(odd) .info {
        transform: translateX(-50px);
        padding-left: 90px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-why section.how .feature:nth-of-type(odd) .info {
        transform: translate3d(-50px, -50px, 0); } }
    @media screen and (min-width: 768px) {
      body.page-template-why section.how .feature:nth-of-type(even) .info {
        transform: translateX(50px);
        padding-right: 90px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-why section.how .feature:nth-of-type(even) .info {
        transform: translate3d(50px, -50px, 0); } }
    body.page-template-why section.how .feature .info {
      background: #FFFFFF;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
      padding: 40px; }
      body.page-template-why section.how .feature .info .copy {
        padding-top: 10px; }
      body.page-template-why section.how .feature .info .cta {
        padding-top: 25px; }

body.page-template-services section.page-header {
  padding: 100px 0;
  text-align: center; }
  body.page-template-services section.page-header .headline,
  body.page-template-services section.page-header .copy {
    max-width: 800px;
    margin: 0 auto; }
  body.page-template-services section.page-header .headline:after {
    content: '';
    display: block;
    position: absolute;
    background: url(images/group-ornaments-1.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 450px;
    left: -100px;
    top: -60px;
    z-index: -1; }
    @media screen and (min-width: 768px) {
      body.page-template-services section.page-header .headline:after {
        left: -0;
        width: 200px;
        height: 600px; } }
  body.page-template-services section.page-header .copy {
    padding-top: 25px; }

body.page-template-services section.process {
  padding: 100px 0;
  background: #FAFAFA;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    body.page-template-services section.process {
      padding: 200px 0 200px 0; } }
  body.page-template-services section.process:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/green-circle.svg) no-repeat 0 0;
    background-size: 100%;
    width: 100px;
    height: 100px;
    top: -30px;
    left: -30px;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      body.page-template-services section.process:before {
        top: -75px;
        left: -75px;
        width: 200px;
        height: 200px; } }
  body.page-template-services section.process:after {
    content: '';
    display: block;
    position: absolute;
    background: url(images/group-ornaments-green.svg) no-repeat 0 0;
    background-size: 100%;
    width: 153px;
    height: 161px;
    right: -50px;
    bottom: -75px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-services section.process:after {
        bottom: 0;
        right: -15px; } }
  body.page-template-services section.process .section-header {
    text-align: center;
    padding-bottom: 50px; }
  body.page-template-services section.process .process-gallery {
    gap: 50px; }
  body.page-template-services section.process .grid-item .icon {
    padding-bottom: 10px; }
    body.page-template-services section.process .grid-item .icon img {
      width: 100%;
      max-width: 64px;
      height: 100%;
      max-height: 64px; }
  body.page-template-services section.process .grid-item .headline h5 {
    color: #DB3F2A; }
  body.page-template-services section.process .grid-item .copy {
    padding-top: 10px; }

body.page-template-services section.features {
  padding: 100px 0 0 0;
  overflow: hidden; }
  body.page-template-services section.features:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/yellow-circle.svg) no-repeat 0 0;
    background-size: 100%;
    width: 100px;
    height: 100px;
    bottom: -30px;
    right: -100px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-services section.features:before {
        bottom: -100px;
        right: -100px;
        width: 200px;
        height: 200px; } }
  body.page-template-services section.features:after {
    content: '';
    display: block;
    position: absolute;
    background: url(images/group-ornaments-1.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 450px;
    left: -150px;
    top: -75px;
    z-index: -1;
    transform: rotate(180deg); }
    @media screen and (min-width: 768px) {
      body.page-template-services section.features:after {
        top: -75px;
        left: -75px;
        width: 200px;
        height: 600px; } }
    @media screen and (min-width: 1280px) {
      body.page-template-services section.features:after {
        top: -100px;
        left: -50px; } }
  body.page-template-services section.features .section-header {
    text-align: center;
    padding-bottom: 50px; }
  body.page-template-services section.features .features-gallery {
    gap: 50px; }
  body.page-template-services section.features .grid-item .icon {
    padding-bottom: 10px; }
    body.page-template-services section.features .grid-item .icon img {
      width: 100%;
      max-width: 48px;
      height: 100%;
      max-height: 48px; }
  body.page-template-services section.features .grid-item .headline h5 {
    color: #DB3F2A; }
  body.page-template-services section.features .grid-item .copy {
    padding-top: 10px; }

body.page-template-platform section.page-header {
  padding: 100px 0;
  text-align: center; }
  body.page-template-platform section.page-header .headline,
  body.page-template-platform section.page-header .copy {
    max-width: 800px;
    margin: 0 auto; }
  body.page-template-platform section.page-header .copy {
    padding-top: 25px; }

body.page-template-platform section.platform-section {
  padding: 100px 0; }
  body.page-template-platform section.platform-section.off-white {
    background: #FAFAFA; }
  @media screen and (min-width: 768px) {
    body.page-template-platform section.platform-section.top-diagonal {
      padding-top: 150px; } }
  @media screen and (min-width: 1024px) {
    body.page-template-platform section.platform-section.top-diagonal {
      padding-top: 200px; } }
  @media screen and (min-width: 768px) {
    body.page-template-platform section.platform-section.bottom-diagonal {
      padding-bottom: 150px; } }
  @media screen and (min-width: 1024px) {
    body.page-template-platform section.platform-section.bottom-diagonal {
      padding-bottom: 200px; } }

@media screen and (min-width: 568px) {
  body.page-template-platform section.one-col-feature .flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.page-template-platform section.one-col-feature .flex-content > div {
      width: calc(50% - 25px); }
    body.page-template-platform section.one-col-feature .flex-content.align-right .graphic {
      order: 2; }
    body.page-template-platform section.one-col-feature .flex-content.align-right .info {
      margin-left: 0;
      margin-right: auto; } }

body.page-template-platform section.one-col-feature .info {
  max-width: 520px;
  margin-left: auto; }
  body.page-template-platform section.one-col-feature .info .headline h3 {
    color: #DB3F2A; }
  body.page-template-platform section.one-col-feature .info .copy {
    padding-top: 10px; }

@media screen and (min-width: 568px) {
  body.page-template-platform section.two-col-feature .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.page-template-platform section.two-col-feature .wrapper > div {
      width: calc(50% - 25px); } }

body.page-template-platform section.two-col-feature .flex-content + .flex-content {
  padding-top: 50px; }
  @media screen and (min-width: 568px) {
    body.page-template-platform section.two-col-feature .flex-content + .flex-content {
      padding-top: 0; } }

@media screen and (min-width: 1024px) {
  body.page-template-platform section.two-col-feature .flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.page-template-platform section.two-col-feature .flex-content > div {
      width: calc(50% - 10px); }
    body.page-template-platform section.two-col-feature .flex-content:nth-of-type(odd) .info {
      order: -1; }
    body.page-template-platform section.two-col-feature .flex-content:nth-of-type(even) .info {
      text-align: right; }
      body.page-template-platform section.two-col-feature .flex-content:nth-of-type(even) .info .copy {
        margin-left: auto; } }

body.page-template-platform section.two-col-feature .graphic {
  max-width: 300px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    body.page-template-platform section.two-col-feature .graphic {
      max-width: 100%;
      margin: 0; } }

body.page-template-platform section.two-col-feature .info {
  padding-top: 25px; }
  body.page-template-platform section.two-col-feature .info .headline h4 {
    color: #DB3F2A; }
  body.page-template-platform section.two-col-feature .info .copy {
    padding-top: 10px; }
    @media screen and (min-width: 1024px) {
      body.page-template-platform section.two-col-feature .info .copy {
        max-width: 240px; } }

body.page-template-platform section.three-col-feature .grid {
  gap: 50px; }

body.page-template-platform section.three-col-feature .grid-item .icon {
  padding-bottom: 10px; }
  body.page-template-platform section.three-col-feature .grid-item .icon img {
    width: 100%;
    max-width: 64px;
    height: 100%;
    max-height: 64px; }

body.page-template-platform section.three-col-feature .grid-item .headline h5 {
  color: #DB3F2A; }

body.page-template-platform section.three-col-feature .grid-item .copy {
  padding-top: 10px; }

body.page-template-about section.company-performance {
  padding: 100px 0; }
  body.page-template-about section.company-performance .section-header {
    text-align: center;
    padding-bottom: 50px; }
  body.page-template-about section.company-performance .company-performance-grid {
    grid-template-columns: repeat(1, 1fr); }
    @media screen and (min-width: 450px) {
      body.page-template-about section.company-performance .company-performance-grid {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 768px) {
      body.page-template-about section.company-performance .company-performance-grid {
        grid-template-columns: repeat(3, 1fr); } }
    body.page-template-about section.company-performance .company-performance-grid .grid-item {
      text-align: center;
      position: relative;
      background: #DB3F2A;
      color: #FFFFFF;
      border: 1px solid #FFFFFF; }
      body.page-template-about section.company-performance .company-performance-grid .grid-item:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      body.page-template-about section.company-performance .company-performance-grid .grid-item > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      body.page-template-about section.company-performance .company-performance-grid .grid-item .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px; }
      body.page-template-about section.company-performance .company-performance-grid .grid-item .stat {
        margin-top: auto;
        width: 100%; }
        body.page-template-about section.company-performance .company-performance-grid .grid-item .stat h3 {
          font-family: "made_dillanregular", serif;
          font-size: 3rem; }
          @media screen and (min-width: 450px) {
            body.page-template-about section.company-performance .company-performance-grid .grid-item .stat h3 {
              font-size: 4rem; } }
          @media screen and (min-width: 1024px) {
            body.page-template-about section.company-performance .company-performance-grid .grid-item .stat h3 {
              font-size: 5rem; } }
          @media screen and (min-width: 1280px) {
            body.page-template-about section.company-performance .company-performance-grid .grid-item .stat h3 {
              font-size: 6rem; } }
      body.page-template-about section.company-performance .company-performance-grid .grid-item .descriptor {
        padding-top: 10px;
        margin-bottom: auto; }
        body.page-template-about section.company-performance .company-performance-grid .grid-item .descriptor p {
          font-size: 1rem;
          line-height: 1.125em; }
          @media screen and (min-width: 568px) {
            body.page-template-about section.company-performance .company-performance-grid .grid-item .descriptor p {
              font-size: 1.125rem; } }

body.page-template-about section.info {
  padding: 100px 0;
  background: #FAFAFA;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    body.page-template-about section.info {
      padding: 250px 0; } }
  body.page-template-about section.info:before {
    content: '';
    display: block;
    position: absolute;
    background: url(images/yellow-circle.svg) no-repeat 0 0;
    background-size: 100%;
    width: 100px;
    height: 100px;
    top: -30px;
    left: -30px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-about section.info:before {
        top: -50px;
        left: -50px;
        width: 200px;
        height: 200px; } }
  body.page-template-about section.info:after {
    content: '';
    display: block;
    position: absolute;
    background: url(images/group-ornaments-1.svg) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 450px;
    right: -50px;
    bottom: -75px;
    z-index: 5; }
    @media screen and (min-width: 768px) {
      body.page-template-about section.info:after {
        bottom: -75px;
        right: -75px;
        width: 200px;
        height: 600px; } }
    @media screen and (min-width: 1280px) {
      body.page-template-about section.info:after {
        bottom: -50px;
        right: -50px; } }
  body.page-template-about section.info .wrapper {
    max-width: 840px; }
  body.page-template-about section.info .section-header {
    padding-bottom: 25px; }
    body.page-template-about section.info .section-header h3 {
      color: #DB3F2A; }

body.page-template-about section.form {
  padding-top: 100px; }

body.page-template-app section.download {
  padding: 100px 0;
  text-align: center; }
  body.page-template-app section.download .links {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    body.page-template-app section.download .links .link {
      padding: 0 10px; }

body.page-template-download header.download-header {
  border-top: 0.5rem solid #000;
  padding: 2rem 0; }
  @media screen and (min-width: 768px) {
    body.page-template-download header.download-header {
      padding-bottom: 4rem; } }
  body.page-template-download header.download-header .site-logo {
    max-width: 160px;
    margin: 0 auto; }

body.page-template-download .site-content {
  min-height: 60vh;
  text-align: center;
  max-width: 800px;
  margin: 0 auto; }
  body.page-template-download .site-content .headline {
    padding-bottom: 1rem; }
  body.page-template-download .site-content .download-links {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 568px) {
      body.page-template-download .site-content .download-links {
        flex-wrap: nowrap; } }
    body.page-template-download .site-content .download-links .link {
      padding: 0 0 2rem 0; }
      @media screen and (min-width: 568px) {
        body.page-template-download .site-content .download-links .link {
          padding: 0 0.5rem; } }
      body.page-template-download .site-content .download-links .link a {
        display: block;
        width: 240px;
        height: 70px; }
        body.page-template-download .site-content .download-links .link a img {
          -o-object-fit: contain;
             object-fit: contain;
          width: 100%;
          height: 100%; }
  body.page-template-download .site-content .additional {
    padding-top: 3rem; }
    @media screen and (min-width: 768px) {
      body.page-template-download .site-content .additional {
        padding-top: 4rem; } }
    body.page-template-download .site-content .additional img {
      margin: 0 auto; }

@media screen and (min-width: 1024px) {
  body.page-template-demo section.hero {
    position: relative; }
    body.page-template-demo section.hero:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    body.page-template-demo section.hero > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }

body.page-template-demo section.hero .info {
  transform: translateY(-30px); }
  @media screen and (min-width: 568px) {
    body.page-template-demo section.hero .info {
      transform: translateY(-50px); } }
  @media screen and (min-width: 1024px) {
    body.page-template-demo section.hero .info {
      transform: translateY(-100px); } }

body.page-template-demo section.form {
  padding: 0; }
  body.page-template-demo section.form .wrapper {
    z-index: 100;
    transform: translateY(-75px);
    margin-bottom: -75px; }
    @media screen and (min-width: 568px) {
      body.page-template-demo section.form .wrapper {
        transform: translateY(-100px);
        margin-bottom: -100px; } }
    @media screen and (min-width: 1024px) {
      body.page-template-demo section.form .wrapper {
        transform: translateY(-200px);
        margin-bottom: -200px; } }
    @media screen and (min-width: 1280px) {
      body.page-template-demo section.form .wrapper {
        transform: translateY(-220px);
        margin-bottom: -220px; } }
  body.page-template-demo section.form .form-wrapper {
    margin: 0;
    max-width: 600px; }
  body.page-template-demo section.form .headline {
    text-align: left;
    padding-bottom: 30px; }
    body.page-template-demo section.form .headline h3 {
      color: #FFFFFF; }
  body.page-template-demo section.form .input-row label span {
    color: #1C1B19; }
  body.page-template-demo section.form input,
  body.page-template-demo section.form select,
  body.page-template-demo section.form textarea {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
    body.page-template-demo section.form input::-webkit-input-placeholder,
    body.page-template-demo section.form select::-webkit-input-placeholder,
    body.page-template-demo section.form textarea::-webkit-input-placeholder {
      color: #1C1B19; }
    body.page-template-demo section.form input::-moz-placeholder,
    body.page-template-demo section.form select::-moz-placeholder,
    body.page-template-demo section.form textarea::-moz-placeholder {
      color: #1C1B19; }
    body.page-template-demo section.form input:-moz-placeholder,
    body.page-template-demo section.form select:-moz-placeholder,
    body.page-template-demo section.form textarea:-moz-placeholder {
      color: #1C1B19; }
    body.page-template-demo section.form input:-ms-input-placeholder,
    body.page-template-demo section.form select:-ms-input-placeholder,
    body.page-template-demo section.form textarea:-ms-input-placeholder {
      color: #1C1B19; }

body.page-template-default article.page-article {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-default article.page-article {
      padding: 100px 0; } }
  body.page-template-default article.page-article .wrapper {
    max-width: 720px; }
  body.page-template-default article.page-article .logo {
    padding-bottom: 25px;
    max-width: 150px; }
    @media screen and (min-width: 768px) {
      body.page-template-default article.page-article .logo {
        max-width: 400px; } }
  body.page-template-default article.page-article .headline {
    padding-bottom: 25px; }
    body.page-template-default article.page-article .headline h1 {
      color: #DB3F2A; }
      @media screen and (min-width: 1280px) {
        body.page-template-default article.page-article .headline h1 {
          font-size: 3rem; } }

body.blog .site-content,
body.category .site-content,
body.tag .site-content,
body.single-authors .site-content,
body.search-results .site-content,
body.tax-format .site-content {
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.blog .site-content,
    body.category .site-content,
    body.tag .site-content,
    body.single-authors .site-content,
    body.search-results .site-content,
    body.tax-format .site-content {
      min-height: 70vh;
      padding: 100px 0 0 0; } }

body.blog section.page-header,
body.category section.page-header,
body.tag section.page-header,
body.single-authors section.page-header,
body.search-results section.page-header,
body.tax-format section.page-header {
  padding: 0 0 25px 0; }
  body.blog section.page-header .headline h1,
  body.category section.page-header .headline h1,
  body.tag section.page-header .headline h1,
  body.single-authors section.page-header .headline h1,
  body.search-results section.page-header .headline h1,
  body.tax-format section.page-header .headline h1 {
    color: #24ACA0; }

body.blog section.editorial {
  padding: 0 0 100px 0; }

body.blog section.latest-posts {
  background: #FAFAFA;
  padding: 100px 0; }
  body.blog section.latest-posts .section-header {
    padding-bottom: 25px; }
    body.blog section.latest-posts .section-header h4 {
      color: #24ACA0;
      font-weight: 600; }

body.blog .site-footer {
  margin-top: 0; }

body.category .site-content,
body.tag .site-content,
body.single-authors .site-content,
body.search-results .site-content,
body.tax-format .site-content {
  background: #FAFAFA;
  padding-bottom: 100px; }

body.category section.page-header,
body.tag section.page-header,
body.single-authors section.page-header,
body.search-results section.page-header,
body.tax-format section.page-header {
  padding: 0 0 50px 0; }
  body.category section.page-header h4,
  body.tag section.page-header h4,
  body.single-authors section.page-header h4,
  body.search-results section.page-header h4,
  body.tax-format section.page-header h4 {
    font-size: 0.75rem;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-bottom: 10px; }
    body.category section.page-header h4 a,
    body.tag section.page-header h4 a,
    body.single-authors section.page-header h4 a,
    body.search-results section.page-header h4 a,
    body.tax-format section.page-header h4 a {
      color: #DB3F2A; }
      body.category section.page-header h4 a:hover,
      body.tag section.page-header h4 a:hover,
      body.single-authors section.page-header h4 a:hover,
      body.search-results section.page-header h4 a:hover,
      body.tax-format section.page-header h4 a:hover {
        text-decoration: underline; }

body.category .site-footer,
body.tag .site-footer,
body.single-authors .site-footer,
body.search-results .site-footer,
body.tax-format .site-footer {
  margin-top: 0; }

body.single-authors section.page-header h1 {
  display: flex;
  align-items: center; }
  body.single-authors section.page-header h1 img {
    max-width: 80px;
    margin-right: 20px; }

section.editorial {
  overflow: visible; }

body.single-post .site-content {
  padding-top: 50px; }
  @media screen and (min-width: 1024px) {
    body.single-post .site-content {
      padding-top: 100px; } }

@media screen and (min-width: 1024px) {
  body.single-post section.article-wrapper .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    body.single-post section.article-wrapper .wrapper > article {
      width: calc(75% - 25px); }
    body.single-post section.article-wrapper .wrapper > aside {
      width: calc(25% - 25px); } }

body.single-post article.post section.article-header {
  padding-bottom: 25px;
  overflow: visible; }
  @media screen and (min-width: 1024px) {
    body.single-post article.post section.article-header {
      padding-bottom: 40px; } }
  body.single-post article.post section.article-header .headline {
    padding-bottom: 25px; }
    @media screen and (min-width: 1024px) {
      body.single-post article.post section.article-header .headline {
        padding-bottom: 40px; } }
    body.single-post article.post section.article-header .headline h4 {
      font-size: 0.75rem;
      padding-bottom: 5px;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
      body.single-post article.post section.article-header .headline h4 a {
        color: #DB3F2A; }
        body.single-post article.post section.article-header .headline h4 a:hover {
          text-decoration: underline; }
    body.single-post article.post section.article-header .headline h1 {
      font-size: 1.75rem; }
      @media screen and (min-width: 1024px) {
        body.single-post article.post section.article-header .headline h1 {
          font-size: 2.25rem; } }

body.single-post article.post section.article-body .copy h2, body.single-post article.post section.article-body .copy h3, body.single-post article.post section.article-body .copy h4, body.single-post article.post section.article-body .copy h5, body.single-post article.post section.article-body .copy h6 {
  padding: 20px 0 10px 0;
  line-height: 1.25em; }

body.single-post article.post section.article-body .copy blockquote h2, body.single-post article.post section.article-body .copy blockquote h3, body.single-post article.post section.article-body .copy blockquote h4, body.single-post article.post section.article-body .copy blockquote h5, body.single-post article.post section.article-body .copy blockquote h6 {
  padding: 0 0 20px 0; }

body.single-post aside {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media screen and (min-width: 568px) {
    body.single-post aside {
      padding-top: 80px; } }
  @media screen and (min-width: 1024px) {
    body.single-post aside {
      padding-top: 0; } }
  body.single-post aside > div {
    width: 100%;
    padding-bottom: 60px; }
    @media screen and (min-width: 568px) {
      body.single-post aside > div {
        width: 33.3333%; }
        body.single-post aside > div.newsletter {
          width: 100%; } }
    @media screen and (min-width: 1024px) {
      body.single-post aside > div {
        width: 100%;
        padding-bottom: 0; }
        body.single-post aside > div + div {
          padding-top: 60px; } }
  body.single-post aside .copy.small.p4 {
    padding-top: 5px; }
    @media screen and (min-width: 768px) {
      body.single-post aside .copy.small.p4 {
        max-width: 180px; } }
  body.single-post aside a:hover {
    text-decoration: underline; }
  body.single-post aside h5 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8125em;
    color: #1C1B19; }
    body.single-post aside h5:after {
      display: block;
      content: '';
      width: 25px;
      height: 2px;
      background: #24ACA0;
      margin: 8px 0 5px 0; }
  body.single-post aside .share h5:after {
    margin-bottom: 15px; }
  body.single-post aside .share .links {
    display: flex;
    align-items: center; }
    body.single-post aside .share .links .link.twitter {
      margin-top: 2px; }
    body.single-post aside .share .links .link + .link {
      padding-left: 20px; }
    body.single-post aside .share .links .link a img {
      width: 100%;
      height: 100%;
      max-width: 18px;
      max-height: 16px; }
  body.single-post aside .authors h5:after {
    margin-bottom: 15px; }
  body.single-post aside .authors .author {
    display: flex;
    align-items: center; }
    body.single-post aside .authors .author + .author {
      padding-top: 10px; }
    body.single-post aside .authors .author .photo {
      max-width: 40px; }
    body.single-post aside .authors .author .copy {
      flex: 1;
      padding-left: 10px; }
  body.single-post aside .newsletter {
    background: #96D4CF;
    color: #000000;
    padding: 40px 20px;
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      body.single-post aside .newsletter {
        margin-top: 60px;
        margin-bottom: 0; } }
    body.single-post aside .newsletter h5 {
      color: #000000; }
      body.single-post aside .newsletter h5:after {
        background: #000000; }
    body.single-post aside .newsletter .copy {
      padding-bottom: 15px; }
      body.single-post aside .newsletter .copy p {
        color: #000000;
        font-size: 0.875rem;
        line-height: 1.25em; }
    body.single-post aside .newsletter input[type="email"],
    body.single-post aside .newsletter input[type="text"] {
      display: block;
      width: 100%;
      padding: 10px;
      border: none; }
    body.single-post aside .newsletter label {
      color: #000000;
      display: block;
      font-size: 0.75em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 20px 0 5px 0;
      font-weight: 500;
      opacity: 0.8; }
    body.single-post aside .newsletter button[type="submit"] {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 0.875em;
      font-weight: 500;
      border: none;
      border-bottom: 3px solid #24ACA0;
      color: #000000;
      padding: 0 0 3px 0;
      background: transparent;
      margin-top: 20px; }
  body.single-post aside .sidebar-search {
    padding-top: 40px;
    width: 100%; }
    body.single-post aside .sidebar-search .search-wrapper {
      padding-top: 10px; }
      body.single-post aside .sidebar-search .search-wrapper form {
        display: flex;
        align-items: center;
        width: 100%; }
        body.single-post aside .sidebar-search .search-wrapper form input[type="search"] {
          display: block;
          padding: 5px 10px;
          border-radius: 0;
          border: 1px solid #24ACA0;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          max-width: 200px; }
          body.single-post aside .sidebar-search .search-wrapper form input[type="search"]:focus, body.single-post aside .sidebar-search .search-wrapper form input[type="search"]:active {
            outline: none; }
        body.single-post aside .sidebar-search .search-wrapper form input[type="submit"] {
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-size: 0.875em;
          font-weight: 500;
          border: none;
          padding: 0 0 5px 0;
          border-bottom: 2px solid #24ACA0;
          color: #1C1B19;
          background: transparent;
          margin-left: 10px; }
  body.single-post aside .recent-posts {
    width: 100%;
    max-width: 400px; }
    body.single-post aside .recent-posts h5:after {
      margin-bottom: 15px; }
    body.single-post aside .recent-posts article.recent + article.recent {
      padding-top: 50px; }
    body.single-post aside .recent-posts .headline {
      padding-bottom: 5px; }
      body.single-post aside .recent-posts .headline h4 {
        font-size: 0.75em; }

body.single-client_landing_page section.gateway {
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.single-client_landing_page section.gateway {
      padding: 150px 0 100px 0; } }
  body.single-client_landing_page section.gateway .wrapper {
    max-width: 600px; }
  body.single-client_landing_page section.gateway .client-logo {
    max-width: 250px;
    padding-bottom: 25px; }
    @media screen and (min-width: 768px) {
      body.single-client_landing_page section.gateway .client-logo {
        max-width: 400px; } }
  body.single-client_landing_page section.gateway .headline {
    padding-bottom: 10px; }
    body.single-client_landing_page section.gateway .headline h3 {
      color: #DB3F2A; }
  body.single-client_landing_page section.gateway .copy p + p {
    padding-top: 15px; }
  body.single-client_landing_page section.gateway .copy a {
    color: #DB3F2A;
    text-decoration: underline; }
  body.single-client_landing_page section.gateway .password-form {
    padding-top: 30px; }
    body.single-client_landing_page section.gateway .password-form p {
      padding-bottom: 25px;
      line-height: 1.25em; }
    body.single-client_landing_page section.gateway .password-form a {
      font-weight: bold;
      color: #DB3F2A; }
      body.single-client_landing_page section.gateway .password-form a:hover {
        text-decoration: underline; }
    body.single-client_landing_page section.gateway .password-form label {
      display: block;
      width: 100%;
      max-width: 240px;
      text-transform: uppercase;
      font-size: 0.6875rem;
      letter-spacing: 0.05em; }
      body.single-client_landing_page section.gateway .password-form label input[type="password"] {
        display: block;
        margin-top: 0;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #b5b5b5;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 10px;
        color: #000000;
        text-transform: none;
        margin-top: 5px; }
    body.single-client_landing_page section.gateway .password-form input[type="submit"] {
      margin-top: 15px;
      background: #DB3F2A;
      color: #FFFFFF;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 1em;
      padding: 12px 20px;
      border: none;
      border-radius: 4px; }
      @media screen and (min-width: 1024px) {
        body.single-client_landing_page section.gateway .password-form input[type="submit"] {
          font-size: 0.875rem;
          padding: 12px 20px; } }

body.single-client_landing_page section.hero {
  max-height: 500px; }
  @media screen and (min-width: 768px) {
    body.single-client_landing_page section.hero {
      position: relative; }
      body.single-client_landing_page section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 37.5%; }
      body.single-client_landing_page section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body.single-client_landing_page section.hero .info {
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 768px) {
      body.single-client_landing_page section.hero .info {
        transform: translateY(-50px); } }
  body.single-client_landing_page section.hero .sub-headline {
    padding-top: 10px;
    padding-bottom: 0; }
    body.single-client_landing_page section.hero .sub-headline.client-name {
      padding-top: 0; }
    body.single-client_landing_page section.hero .sub-headline h3 {
      font-weight: bold;
      font-size: 1.5rem; }
  body.single-client_landing_page section.hero .copy {
    padding-top: 10px; }

body.single-client_landing_page .hero-diagonal .ltr {
  background-image: var(--svg-ltr-gray); }

body.single-client_landing_page section.video {
  z-index: 10;
  padding: 50px 0;
  background: #FAFAFA; }
  @media screen and (min-width: 1024px) {
    body.single-client_landing_page section.video .wrapper {
      max-width: 800px; } }
  body.single-client_landing_page section.video .copy {
    padding-top: 20px; }

body.single-client_landing_page section.about-workproud {
  padding: 50px 0 75px 0;
  overflow: hidden;
  background: #FAFAFA; }
  @media screen and (min-width: 768px) {
    body.single-client_landing_page section.about-workproud {
      padding: 100px 0 250px 0; }
      body.single-client_landing_page section.about-workproud .wrapper {
        display: flex;
        justify-content: space-between; }
        body.single-client_landing_page section.about-workproud .wrapper > * {
          max-width: calc(50% - 25px); }
        body.single-client_landing_page section.about-workproud .wrapper > *:nth-last-child(n+1):nth-last-child(-n+1):first-child,
        body.single-client_landing_page section.about-workproud .wrapper > *:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ * {
          margin: -50px auto 0 auto;
          text-align: center; } }
  body.single-client_landing_page section.about-workproud .about .headline h4 {
    font-size: 1.25rem; }
  body.single-client_landing_page section.about-workproud .about .copy {
    padding-top: 25px; }
  body.single-client_landing_page section.about-workproud .accolades {
    padding-top: 50px; }
    @media screen and (min-width: 768px) {
      body.single-client_landing_page section.about-workproud .accolades {
        padding-top: 0; } }
    body.single-client_landing_page section.about-workproud .accolades .copy {
      padding-top: 5px; }
    body.single-client_landing_page section.about-workproud .accolades-gallery {
      padding-top: 50px;
      display: grid;
      gap: 30px 50px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
    body.single-client_landing_page section.about-workproud .accolades .accolade {
      text-align: center; }
      body.single-client_landing_page section.about-workproud .accolades .accolade img {
        max-width: 100px;
        margin: 0 auto; }
      body.single-client_landing_page section.about-workproud .accolades .accolade .copy {
        padding-top: 10px; }

body.single-client_landing_page .about-bottom-diagonal:last-child {
  display: none; }

body.single-client_landing_page .no-technology + .about-bottom-diagonal {
  display: none; }

body.single-client_landing_page .no-technology + .about-bottom-diagonal + .clients-top-diagonal {
  display: none; }

body.single-client_landing_page .no-technology + .about-bottom-diagonal + .clients-top-diagonal + .clients {
  padding-top: 100px;
  margin-top: -150px;
  background: #FFFFFF; }

body.single-client_landing_page section.technology .headline,
body.single-client_landing_page section.clients .headline {
  text-align: center;
  padding-bottom: 25px; }

body.single-client_landing_page section.technology .gallery,
body.single-client_landing_page section.clients .gallery {
  display: grid;
  gap: 30px 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  body.single-client_landing_page section.technology .gallery .item,
  body.single-client_landing_page section.clients .gallery .item {
    display: flex;
    place-items: center;
    flex-wrap: wrap; }
    body.single-client_landing_page section.technology .gallery .item img,
    body.single-client_landing_page section.clients .gallery .item img {
      max-width: 100px;
      margin: 0 auto; }

body.single-client_landing_page section.technology {
  padding: 75px 0;
  background: #FFFFFF; }
  @media screen and (min-width: 768px) {
    body.single-client_landing_page section.technology {
      padding: 150px 0; } }
  body.single-client_landing_page section.technology .item .icon {
    width: 100%; }
  body.single-client_landing_page section.technology .item .copy {
    max-width: 80%;
    margin: 0 auto;
    text-align: center; }

body.single-client_landing_page section.clients {
  padding: 150px 0 75px 0;
  overflow: hidden;
  background: #FAFAFA; }
  @media screen and (min-width: 768px) {
    body.single-client_landing_page section.clients {
      padding: 250px 0 150px 0; } }

body.single-client_landing_page .site-footer {
  margin-top: 0; }

body.postid-688 section.hero .info {
  text-align: left;
  width: 100%;
  max-width: 1200px; }

body.postid-688 section.hero .info .copy {
  max-width: 560px; }

body.postid-688 section.video .copy:first-of-type {
  padding: 0 0 1rem 0;
  margin-top: -2rem; }

@media screen and (min-width: 768px) {
  body.postid-688 section.video .copy:first-of-type {
    margin-top: -4rem; } }

body.postid-688 section.about-workproud {
  padding-bottom: 100px; }
