.site-footer {
	background: $light-green;
	padding: 50px 0;
	margin-top: 50px;
	overflow: hidden;

	@include tablet-portrait {
		padding: 100px 0;
		margin-top: 100px;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		background: url(images/footer-bullhorn.svg) no-repeat 0 0;
		background-size: 100%;
		width: 150px;
		height: 130px;
		top: -20px;
		right: -25px;

		@include tablet-portrait {
			top: -25px;
			right: -50px;
			width: 200px;
			height: 180px;			
		}

		@include desktop {
			top: -80px;
			right: -60px;
			width: 300px;
			height: 250px;			
		}
	}

	@include desktop {
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/footer-shapes.svg) no-repeat 0 0;
			background-size: 100%;
			width: 131px;
			height: 181px;
			bottom: -20px;
			left: -20px;
		}
	}

	.footer-logo {
		max-width: 180px;
		padding-bottom: 50px;

		@include mobile-landscape {
			max-width: 240px;
		}

		a {
			display: block;
		}
	}

	.footer-nav {
		padding-bottom: 50px;
		gap: 50px;

		@include mobile-landscape {
			padding-bottom: 100px;
		}

		.link {

			& + .link {
				padding-top: 18px;
			}

			a {
				font-size: 1.125rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.contact-info {

		.contact {
			& + .contact {
				padding-top: 25px;
			}

			.headline {
				padding-bottom: 10px;

				h5 {
					font-size: 1rem;
					line-height: 1.25em;

					em {
						display: block;
						font-weight: normal;
					}
				}
			}

			.copy {
				p {
					& + p {
						padding-top: 20px;
					}
				}
			}
		}
	}

	.platform {
		padding-bottom: 50px;

		.headline {
			padding-bottom: 20px;

			h5 {
				text-transform: uppercase;
				font-size: 0.8125rem;
				letter-spacing: 0.05em;
			}
		}

		.logos {
			display: flex;
			align-items: center;

			.logo {
				& + .logo {
					padding-left: 20px;
				}
			}
		}
	}

	.legal {
		border-top: 1px solid $slate;
		padding-top: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.copyright {
			padding-right: 10px;

			p {
				font-size: 0.75rem;
			}
		}

		.links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			transform: translateY(-1px);

			.link {
				& + .link {
					padding-left: 10px;
				}

				a {
					font-size: 0.75rem;
					display: inline-block;
					text-decoration: underline;
				}
			}
		}

		.social {
			display: flex;
			align-items: center;
			margin-left: auto;

			a {
				display: block;

				& + a {
					margin-left: 10px;

					@include tablet-portrait {
						margin-left: 20px;
					}
				}

				img {
					width: 100%;
					max-width: 24px;
					height: 100%;
					max-height: 18px;
				}
			}
		}

	}


}