section.form {
	padding: 100px 0;

	@include tablet-portrait {
		padding: 200px 0 100px 0;
	}

	.headline {
		text-align: center;
		padding-bottom: 50px;
	}

	.form-wrapper {
		max-width: 600px;
		margin: 0 auto;
	
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/group-ornaments-1.svg) no-repeat 0 0;
			background-size: 100%;
			width: 150px;
			height: 450px;
			left: -100px;
			top: -60px;
			z-index: -1;

			@include tablet-portrait {
				left: -120px;
				width: 200px;
				height: 600px;			
			}
		}
	}

	form.sf-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.input-row {
		width: 100%;

		& + .input-row { 
			padding-top: 20px;
		}

		&.first-name,
		&.last-name {
			width: calc(50% - 10px);
			padding-top: 0;
		}

		input, textarea, select {
			width: 100%;
		}

		label span {
			display: block;
			padding-bottom: 10px;
			padding-top: 10px;
			font-size: 1rem;
			color: #aaa;
		}

		input {
			border: 1px solid #D5D5D5;
			border-radius: 5px;
			height: 60px;
			line-height: 1em;
			padding: 0 15px;
			font-size: 1.25rem;
			font-weight: bold;
			color: $slate;



			@include placeholder {
				color: #BDBDBC;
			}
		}

		textarea {
			border: 1px solid #D5D5D5;
			border-radius: 5px;
			height: 160px;
			padding: 15px;
			font-size: 1.125rem;
			line-height: 1.25em;
		}

		select {
			appearance: none;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
			background-size: .6em;
			background-position: calc(100% - 1.3em);
			background-repeat: no-repeat;
		    box-shadow: none;
			border: 1px solid #D5D5D5;
			border-radius: 5px;	
			padding: 15px;
			height: 60px;
			font-size: 1.125rem;
			color: $slate;


		}

	}
	
	.opt-in.field-container {
		background: rgba(36, 172, 160, 0.10);
		padding: 25px 30px;
		border-radius: 5px;
		margin-top: 20px;
		display: flex;
		align-items: flex-start;

		.label {
			padding-left: 20px;
		}
	}

	.g-recaptcha {
		padding-top: 20px;
		width: 100%;
	}

	.tour-btn {
		width: 100%;
		padding-top: 20px;

		input[type="submit"] {
			background: $red;
			color: $white;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 1em;
			padding: 24px 36px;
			border-radius: 4px;
			border: none;
			width: 100%;
			transition: all 0.2 ease-in;

			@include mobile-landscape {
				width: calc(50% - 10px);
			}

			&[disabled="true"] {
				background: #aaa;
				cursor: not-allowed;
			}
		}
	}
}