.copy {
	line-height: 1.5em;

	&.p1 {
		font-size: 1rem;
		line-height: 1.5em;

		@include tablet-landscape {
			font-size: 1.375rem;
		}

		@include desktop {
			font-size: 1.5rem;
		}
	}

	&.p2 {
		font-size: 1.125em;

		@include tablet-portrait {
			font-size: 1.5rem;
		}
	}


	&.p3 {
		font-size: 0.875em;

		@include tablet-portrait {
			font-size: 1rem;
		}

		@include desktop {
			font-size: 1.125rem;
		}
	}

	&.p4 {
		font-size: 0.75em;

		@include tablet-portrait {
			font-size: 0.875rem;
		}
	}

	&.extended {
		a {
			color: $red;
			text-decoration: underline;
		}


		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}

		p, ul, ol, table {
			margin-bottom: 30px;
		}

		ul, ol {
			margin-left: 25px;

			li {
				& + li {
					margin-top: 5px;
				}

				ul, ol {
					margin-top: 10px;
				}
			}
		}

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 5px;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1.375em;
		}

		h4 {
			font-size: 1.25em;
		}

		h5 {
			font-size: 1.125em;
		}

		table {
			td {
				font-size: 0.875rem;
				padding: 20px;
			}
		}

		blockquote {
			margin: 0 0 20px 0;
			padding: 0 0 0 25px;
			border-left: 5px solid $green;
			display: block;

			p {
				padding-bottom: 0;
				font-size: 0.875rem;

				& + p {
					padding-top: 20px;
				}
			}

			h2, h3, h4, h5 {
				padding-bottom: 20px;
			}
		}
	}
}