.headline {

	h1 {
		font-weight: bold;
		font-size: 2rem;
		line-height: 1.125em;

		@include tablet-portrait {
			font-size: 3rem;
		}

		@include desktop {
			font-size: 4rem;
		}
	}

	h2 {
		font-weight: 500;
		font-size: 2.25rem;
		line-height: 1.125em;

		@include tablet-portrait {
			font-size: 3rem;
		}
	}

	h3 {
		font-weight: bold;
		font-size: 1.6125rem;
		line-height: 1.125em;

		@include tablet-portrait {
			font-size: 2.25rem;
		}
	}

	h4 {
		font-weight: bold;
		font-size: 1.375rem;
		line-height: 1.125em;

		@include tablet-portrait {
			font-size: 1.875rem;
		}
	}

	h5 {
		font-weight: bold;
		font-size: 1.125rem;
		line-height: 1.125em;

		@include tablet-portrait {
			font-size: 1.25rem;
		}
	}

}