body,
button,
input,
select,
optgroup,
textarea {
	font-family: $roboto;

}

::-moz-selection {
	background: $red;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $red;
	color: $white;
	text-shadow: none;
}

a {
	color: $slate;
	transition: all 0.2s ease-in;
}

@import "headings";

@import "copy";