
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$roboto: 'Roboto', sans-serif;


// Dillian
@font-face {
    font-family: 'made_dillanregular';
    src: url('fonts/made_dillan_personal_use-webfont.woff2') format('woff2'),
         url('fonts/made_dillan_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$dillian: 'made_dillanregular', serif;