@import "media-queries";

@import "aspect-ratio";

@import "placeholder";



@mixin overlay-gradient {
	&:after {
		width: 100%;
		height: 100%;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.4);
		background: linear-gradient(135deg, rgba(36,66,144,0.5) 0%, rgba(0,0,0,0.2) 66.6666%);
		z-index: 10;
	}
}

@mixin grayscale {
	filter: grayscale(30%);
}

