body.page-template-about {

	section.company-performance {
		padding: 100px 0;

		.section-header {
			text-align: center;
			padding-bottom: 50px;
		}

		.company-performance-grid {
			grid-template-columns: repeat(1, 1fr);

			@media screen and (min-width: 450px) {
				grid-template-columns: repeat(2, 1fr);
			}
			
			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}

			.grid-item {
				text-align: center;
				@include aspect-ratio(1, 1);
				background: $red;
				color: $white;
				border: 1px solid $white;



				.content {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					padding: 40px;
				}

				.stat {
					margin-top: auto;
					width: 100%;

					h3 {
						font-family: $dillian;
						font-size: 3rem;

						@media screen and (min-width: 450px) {
							font-size: 4rem;
						}

						@include tablet-landscape {
							font-size: 5rem;
						}

						@include desktop {
							font-size: 6rem;
						}
					}
				}

				.descriptor {
					padding-top: 10px;
					margin-bottom: auto;

					p {
						font-size: 1rem;
						line-height: 1.125em;

						@include mobile-landscape {
							font-size: 1.125rem;
						}
					}
				}
			}

		}
	}


	section.info {
		padding: 100px 0;
		background: $off-white;
		overflow: hidden;

		@include tablet-portrait {
			padding: 250px 0;
		}


		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(images/yellow-circle.svg) no-repeat 0 0;
			background-size: 100%;
			width: 100px;
			height: 100px;
			top: -30px;
			left: -30px;
			z-index: 5;

			@include tablet-portrait {
				top: -50px;
				left: -50px;
				width: 200px;
				height: 200px;			
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/group-ornaments-1.svg) no-repeat 0 0;
			background-size: 100%;
			width: 150px;
			height: 450px;
			right: -50px;
			bottom: -75px;
			z-index: 5;

			@include tablet-portrait {
				bottom: -75px;
				right: -75px;
				width: 200px;
				height: 600px;			
			}

			@include desktop {
				bottom: -50px;
				right: -50px;
			}
		}


		.wrapper {
			max-width: 840px;
		}

		.section-header {
			padding-bottom: 25px;

			h3 {
				color: $red;
			}
		}

	}

	section.form {
		padding-top: 100px;
	}


}