body.page-template-app {

	section.download {
		padding: 100px 0;
		text-align: center;

		.links {
			padding-top: 25px;
			display: flex;
			align-items: center;
			justify-content: center;

			.link {
				padding: 0 10px;
			}
		}


	}

}