body.page-template-demo {

	section.hero {

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}
	
		.info {
			transform: translateY(-30px);

			@include mobile-landscape {
				transform: translateY(-50px);
			}

			@include tablet-landscape {
				transform: translateY(-100px);
			}
		}
	}

	section.form {
		padding: 0;

	
		.wrapper {
			z-index: 100;
			transform: translateY(-75px);
			margin-bottom: -75px;

			@include mobile-landscape {
				transform: translateY(-100px);
				margin-bottom: -100px;
			}

			@include tablet-landscape {
				transform: translateY(-200px);
				margin-bottom: -200px;
			}

			@include desktop {
				transform: translateY(-220px);
				margin-bottom: -220px;
			}
		}

		.form-wrapper {
			margin: 0;
			max-width: 600px;
		}

		.headline {
			text-align: left;
			padding-bottom: 30px;

			h3 {
				color: $white;
			}
		}

		.input-row label span {
			color: $slate;
		}

		input,
		select,
		textarea {
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

			@include placeholder {
				color: $slate;
			}
		}
	}
}