body.page-template-download {

    header.download-header {
        border-top: 0.5rem solid #000;
        padding: 2rem 0;

        @include tablet-portrait {
            padding-bottom: 4rem;
        }

        .site-logo {
            max-width: 160px;
            margin: 0 auto;
        }
    }

    .site-content {
        min-height: 60vh;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;

        .headline {
            padding-bottom: 1rem;
        }

        .download-links {
            padding-top: 4rem;
            display: flex;
			align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            @include mobile-landscape {
                flex-wrap: nowrap;
            }

			.link {
                padding: 0 0 2rem 0;
                            

                @include mobile-landscape {
                    padding: 0 0.5rem;
                }

                a {
                    display: block;
                    width: 240px;
                    height: 70px;

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
			}
        }

        .additional {
            padding-top: 3rem;

            @include tablet-portrait {
                padding-top: 4rem;
            }

            img {
                margin: 0 auto;
            }
        }
    }
}