body.page-template-homepage {
	
	section.home-hero {
		background: $off-white;
		overflow: hidden;

		@include tablet-portrait{
			@include aspect-ratio(16, 9);
			max-height: 700px;
		}

		@include desktop {
			@include aspect-ratio(16, 7);
		}

		.content {
			padding: 75px 0 25px 0;

			@include tablet-portrait {
				padding: 0;
			}


			&:before {
				content: '';
				display: block;
				position: absolute;
				background: url(images/green-circle.svg) no-repeat 0 0;
				background-size: 100%;
				width: 100px;
				height: 100px;
				top: -30px;
				right: -30px;
				z-index: 1;

				@include tablet-portrait {
					top: -75px;
					right: -75px;
					width: 200px;
					height: 200px;			
				}
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				background: url(images/group-ornaments-green.svg) no-repeat 0 0;
				background-size: 100%;
				width: 153px;
				height: 161px;
				left: -50px;
				bottom: -75px;
				z-index: 5;

				@include tablet-portrait {
					bottom: -25px;
					left: -25px;		
				}


			}

		}




		.wrapper {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 100%;

			.info {
				margin-top: -25px;
				z-index: 10;

				@include tablet-portrait {
					margin-top: -50px;
				}

				@include desktop {
					margin-top: -75px;
				}
			}
		}

		.info {
			width: 100%;

			@include mobile-landscape {
				width: 100%;
				max-width: calc(50% - 25px);
			}

			@include tablet-landscape {
				max-width: 640px;
			}
		}

		.graphic {
			width: 100%;
			z-index: 20;
			padding-top: 20px;

			@include mobile-landscape{
				padding-top: 0;
				width: auto;
				flex: 1;
				height: 100%;
			}

			img {
				margin: 0 auto;

				@include mobile-landscape {
					bottom: 0;
					left: 0;
					width: 150%;
					max-width: 150%;
				}

				@include tablet-portrait {
					position: absolute;
				}



			}			
		}

		h1 {
			color: $red;
			font-weight: bold;
			font-size: 1.75rem;
			line-height: 1em;

			@include mobile-landscape {
				font-size: 2rem;
			}

			@include tablet-landscape {
				font-size: 3rem;
			}

			@include desktop {
				font-size: 3.5rem;
			}
		}

		.copy {
			padding-top: 25px;
			max-width: 640px;

			&.p1 {
				font-size: 1rem;
				line-height: 1.5em;

				@include tablet-landscape {
					font-size: 1.375rem;
				}

				@include desktop {
					font-size: 1.5rem;
				}

			}
		}

		.cta {
			padding-top: 25px;
		}
	}

	section.how-it-works {
		padding: 50px 0;

		@include tablet-landscape {
			padding: 150px 0 50px 0;
		}

		.thumbnail {
			max-width: 660px;
			margin: 0 auto;
		}

		.info {
			padding-top: 25px;
			text-align: center;
			max-width: 600px;
			margin: 0 auto;

			.copy {
				padding-top: 10px;
			}

			.cta {
				padding-top: 25px;
			}
		}
	}

	section.why {
		padding: 100px 0;

		@include tablet-portrait {
			padding: 150px 0;
		}

		@include mobile-landscape {
			.wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > div {
					width: calc(50% - 25px);
				}
			}
		}


		.info {

			.copy {
				padding-top: 10px;
			}

			.cta {
				padding-top: 25px;
			}
		}

		.graphic {
			padding-top: 25px;

			@include mobile-landscape {
				padding-top: 0;
			}

			img {
				border-radius: 5px;
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
			}
		}
	}

	section.companies {
		padding: 75px 0;
		overflow: hidden;
		background: $off-white;


		@include tablet-portrait {
			padding: 250px 0;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(images/yellow-circle.svg) no-repeat 0 0;
			background-size: 100%;
			width: 100px;
			height: 100px;
			bottom: -30px;
			right: -30px;
			z-index: 5;

			@include tablet-portrait {
				bottom: -50px;
				right: -50px;
				width: 200px;
				height: 200px;			
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/group-ornaments-1.svg) no-repeat 0 0;
			background-size: 100%;
			width: 150px;
			height: 450px;
			left: -50px;
			top: -75px;
			z-index: 5;

			@include tablet-portrait {
				top: -75px;
				left: -75px;
				width: 200px;
				height: 600px;			
			}

			@include desktop {
				top: -50px;
				left: -50px;
			}
		}



		.headline {
			text-align: center;
			padding-bottom: 50px;
		}

		
		.gallery {
			gap: 50px;

			.logo {
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					display: block;
				}

				img {
					max-width: 180px;
					max-height: 50px;
					display: block;
				}
			}
		}

	}

	section.testimonials {
		padding: 125px 0 100px 0;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(images/black-bullhorn.svg) no-repeat 0 0;
			background-size: 100%;
			width: 150px;
			height: 130px;
			top: -20px;
			left: -30px;

			@include tablet-landscape {
				top: -25px;
				left: -50px;
				width: 200px;
				height: 180px;			
			}

			@include desktop {
				top: -50px;
				left: -60px;
				width: 300px;
				height: 250px;			
			}
		}

		.slick-dots {
			@include tablet-portrait {
				bottom: -100px;
			}
		}

		.quote {
			&:focus,
			&:active {
				outline: none;
			}

			.pullquote {
				max-width: 840px;
				margin: 0 auto;
				padding: 0 50px;

				@include desktop {
					padding: 0;

				}

				p {
					font-family: $dillian;
					font-size: 1.5rem;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 1.875rem;
					}

					@include desktop {
						font-size: 2.25rem;
					}
				}

				&:after {
					display: block;
					content: '';
					background: url(images/quote.svg) no-repeat 0 0;
					background-size: 100%;
					position: absolute;
					width: 57px;
					height: 44px;
					right: 0;
					bottom: -22px;
					z-index: -1;

					@include desktop {
						width: 114px;
						height: 87px;
						right: -114px;
						bottom: -44px;
					}
				}
			}

			.logo {
				padding: 25px 50px 0 50px;
				max-width: 840px;
				margin: 0 auto;

				img {
					max-width: 240px;
				}
				

				@include desktop {
					padding: 50px 0 0 0;
				}
			}
		}
	}

	section.latest-posts {
		padding: 100px 0 0 0;

		.section-header {
			padding-bottom: 30px;

			h3 {
				color: $green;
				font-weight: 600;
			}
		}

		.posts-wrapper {
			display: grid;
			gap: 50px 32px;
			grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));

			article.post {
				width: 100%;
				margin: 0;
			}
		}

		.section-cta {
			padding-top: 50px;
			text-align: center;
		}
	}
}