body.blog,
body.category,
body.tag,
body.single-authors,
body.search-results,
body.tax-format {

	.site-content {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			min-height: 70vh;
			padding: 100px 0 0 0;
		}
	}

	section.page-header {
		padding: 0 0 25px 0;

		.headline {
			h1 {
				color: $green;
			}
		}
	}
}

body.blog {
	section.editorial {
		padding: 0 0 100px 0;
	}

	section.latest-posts {
		background: $off-white;
		padding: 100px 0;

		.section-header {
			padding-bottom: 25px;

			h4 {
				color: $green;
				font-weight: 600;
			}
		}
	}

	.site-footer {
		margin-top: 0;
	}
}

body.category,
body.tag,
body.single-authors,
body.search-results,
body.tax-format {
	.site-content {
		background: $off-white;
		padding-bottom: 100px;
	}

	section.page-header {
		padding: 0 0 50px 0;

		h4 {
			font-size: 0.75rem;
			padding-bottom: 5px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding-bottom: 10px;

			a {
				color: $red;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.site-footer {
		margin-top: 0;
	}
}

body.single-authors {
	section.page-header {

		h1 {
			display: flex;
			align-items: center;

			img {
				max-width: 80px;
				margin-right: 20px;
			}
		}
	}
}

section.editorial {
	overflow: visible;
}