body.page-template-default {

	article.page-article {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 720px;
		}

		.logo {
			padding-bottom: 25px;
			max-width: 150px;

			@include tablet-portrait {
				max-width: 400px;
			}
		}

		.headline {
			padding-bottom: 25px;

			h1 {
				color: $red;

				@include desktop {
					font-size: 3rem;
				}
			}
		}
	}


}