body.page-template-platform {

	section.page-header {
		padding: 100px 0;
		text-align: center;

		.headline,
		.copy {
			max-width: 800px;
			margin: 0 auto;
		}

		.copy {
			padding-top: 25px;
		}
	}

	section.platform-section {
		padding: 100px 0;

		&.off-white {
			background: $off-white;
		}

		&.top-diagonal {

			@include tablet-portrait {
				padding-top: 150px;
			}
			
			@include tablet-landscape {
				padding-top: 200px;
			}
		}

		&.bottom-diagonal {

			@include tablet-portrait {
				padding-bottom: 150px;
			}			

			@include tablet-landscape {
				padding-bottom: 200px;
			}
		}

	}

	section.one-col-feature {
		.flex-content {

			@include mobile-landscape {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > div {
					width: calc(50% - 25px);
				}

				&.align-right {
					.graphic {
						order: 2;
					}

					.info {
						margin-left: 0;
						margin-right: auto;
					}
				}
			}			
		}

		.info {
			max-width: 520px;
			margin-left: auto;

			.headline {
				h3 {
					color: $red;
				}
			}

			.copy {
				padding-top: 10px;
			}
		}
	}

	section.two-col-feature {

		.wrapper {
			@include mobile-landscape {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > div {
					width: calc(50% - 25px);
				}
			}
		}

		.flex-content {
			& + .flex-content {
				padding-top: 50px;

				@include mobile-landscape {
					padding-top: 0;
				}
			}

			@include tablet-landscape {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > div {
					width: calc(50% - 10px);
				}

				&:nth-of-type(odd) {
					.info {
						order: -1;
					}
				}

				&:nth-of-type(even) {
					.info{
						text-align: right;

						.copy {
							margin-left: auto;

						}
					}
				}
			}
		}

		.graphic {
			max-width: 300px;
			margin: 0 auto;

			@include tablet-portrait {
				max-width: 100%;
				margin: 0;
			}
		}

		.info {
			padding-top: 25px;

			.headline {
				h4 {
					color: $red;
				}
			}

			.copy {
				padding-top: 10px;

				@include tablet-landscape {
					max-width: 240px;
				}
			}
		}
	}

	section.three-col-feature {
		.grid {
			gap: 50px;
		}

		.grid-item {
			.icon {
				padding-bottom: 10px;

				img {
					width: 100%;
					max-width: 64px;
					height: 100%;
					max-height: 64px;
				}
			}

			.headline {
				h5 {
					color: $red;
				}
			}

			.copy {
				padding-top: 10px;
			}
		}
	}

}