body.page-template-services {

	section.page-header {
		padding: 100px 0;
		text-align: center;

		.headline,
		.copy {
			max-width: 800px;
			margin: 0 auto;
		}

		.headline {

			&:after {
				content: '';
				display: block;
				position: absolute;
				background: url(images/group-ornaments-1.svg) no-repeat 0 0;
				background-size: 100%;
				width: 150px;
				height: 450px;
				left: -100px;
				top: -60px;
				z-index: -1;

				@include tablet-portrait {
					left: -0;
					width: 200px;
					height: 600px;			
				}
			}			
		}

		.copy {
			padding-top: 25px;
		}
	}

	section.process {
		padding: 100px 0;
		background: $off-white;
		overflow: hidden;

		@include tablet-portrait {
			padding: 200px 0 200px 0;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(images/green-circle.svg) no-repeat 0 0;
			background-size: 100%;
			width: 100px;
			height: 100px;
			top: -30px;
			left: -30px;
			z-index: 1;

			@include tablet-portrait {
				top: -75px;
				left: -75px;
				width: 200px;
				height: 200px;			
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/group-ornaments-green.svg) no-repeat 0 0;
			background-size: 100%;
			width: 153px;
			height: 161px;
			right: -50px;
			bottom: -75px;
			z-index: 5;

			@include tablet-portrait {
				bottom: 0;
				right: -15px;		
			}
		}

		.section-header {
			text-align: center;
			padding-bottom: 50px;
		}

		.process-gallery {
			gap: 50px;
		}

		.grid-item {
			.icon {
				padding-bottom: 10px;

				img {
					width: 100%;
					max-width: 64px;
					height: 100%;
					max-height: 64px;
				}
			}

			.headline {
				h5 {
					color: $red;
				}
			}

			.copy {
				padding-top: 10px;
			}
		}
	}

	section.features {
		padding: 100px 0 0 0;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			position: absolute;
			background: url(images/yellow-circle.svg) no-repeat 0 0;
			background-size: 100%;
			width: 100px;
			height: 100px;
			bottom: -30px;
			right: -100px;
			z-index: 5;

			@include tablet-portrait {
				bottom: -100px;
				right: -100px;
				width: 200px;
				height: 200px;			
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url(images/group-ornaments-1.svg) no-repeat 0 0;
			background-size: 100%;
			width: 150px;
			height: 450px;
			left: -150px;
			top: -75px;
			z-index: -1;
			transform: rotate(180deg);

			@include tablet-portrait {
				top: -75px;
				left: -75px;
				width: 200px;
				height: 600px;			
			}

			@include desktop {
				top: -100px;
				left: -50px;
			}
		}

		.section-header {
			text-align: center;
			padding-bottom: 50px;
		}

		.features-gallery {
			gap: 50px;
		}

		.grid-item {
			.icon {
				padding-bottom: 10px;

				img {
					width: 100%;
					max-width: 48px;
					height: 100%;
					max-height: 48px;
				}
			}

			.headline {
				h5 {
					color: $red;
				}
			}

			.copy {
				padding-top: 10px;
			}
		}
	}
}