body.single-client_landing_page {

	section.gateway {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding: 150px 0 100px 0;
		}

		.wrapper {
			max-width: 600px;
		}

		.client-logo {
			max-width: 250px;
			padding-bottom: 25px;

			@include tablet-portrait {
				max-width: 400px;
			}
		}

		.headline {
			padding-bottom: 10px;

			h3 {
				color: $red;
			}
		}

		.copy {
			p + p {
				padding-top: 15px;
			}

			a {
				color: $red;
				text-decoration: underline;
			}
		}

		.password-form {
			padding-top: 30px;

			p {
				padding-bottom: 25px;
				line-height: 1.25em;
			}

			a {
				font-weight: bold;
				color: $red;

				&:hover {
					text-decoration: underline;
				}
			}

			label {
				display: block;
				width: 100%;
				max-width: 240px;
				text-transform: uppercase;
				font-size: 0.6875rem;
				letter-spacing: 0.05em;

				input[type="password"] {
					display: block;
					margin-top: 0;
					width: 100%;
					height: 40px;
					border-radius: 4px;
					border: 1px solid #b5b5b5;
					font-size: 1.5rem;
					font-weight: bold;
					padding: 0 10px;
					color: $black;
					text-transform: none;
					margin-top: 5px;
				}
			}

			input[type="submit"] {
				margin-top: 15px;
				background: $red;
				color: $white;
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.75rem;
				font-weight: bold;
				line-height: 1em;
				padding: 12px 20px;
				border: none;
				border-radius: 4px;

				@include tablet-landscape {
					font-size: 0.875rem;
					padding: 12px 20px;
				}
			}
		}
	}

	section.hero {
		max-height: 500px;

		@include tablet-portrait {
			@include aspect-ratio(16, 6);
		}

		.info {
			margin: 0 auto;
			text-align: center;

			@include tablet-portrait {
				transform: translateY(-50px);
			}
		}

		.sub-headline {
			padding-top: 10px;
			padding-bottom: 0;

			&.client-name {
				padding-top: 0;
			}

			h3 {
				font-weight: bold;
				font-size: 1.5rem;
			}
		}

		.copy {
			padding-top: 10px;
		}
	}

	.hero-diagonal {
		.ltr {
			background-image: var(--svg-ltr-gray);
		}
	}


	section.video {
		z-index: 10;
		padding: 50px 0;
		background: $off-white;

		.wrapper {
			@include tablet-landscape {
				max-width: 800px;
			}
		}

		.copy {
			padding-top: 20px;
		}
	}

	section.about-workproud {
		padding: 50px 0 75px 0;
		overflow: hidden;
		background: $off-white;

		@include tablet-portrait {
			padding: 100px 0 250px 0;

			.wrapper {
				display: flex;
				justify-content: space-between;

				& > * {
					max-width: calc(50% - 25px);
				}

				& > *:nth-last-child(n+1):nth-last-child(-n+1):first-child,
				& > *:nth-last-child(n+1):nth-last-child(-n+1):first-child ~ * {
					margin: -50px auto 0 auto;
					text-align: center;
				}
			}
		}

		.about {
			.headline {
				h4 {
					font-size: 1.25rem;
				}
			}
			.copy {
				padding-top: 25px;
			}
		}

		.accolades {
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 0;
			}

			.copy {
				padding-top: 5px;
			}

			&-gallery {
				padding-top: 50px;
				display: grid;
				gap: 30px 50px;
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}

			.accolade {
				text-align: center;
				img {
					max-width: 100px;
					margin: 0 auto;
				}

				.copy {
					padding-top: 10px;
				}
			}
		}
	}

	.about-bottom-diagonal {
		&:last-child {
			display: none;
		}
	}

	.no-technology {
		& + .about-bottom-diagonal {
			display: none;
		}

		& + .about-bottom-diagonal + .clients-top-diagonal {
			display: none;
		}

		& + .about-bottom-diagonal + .clients-top-diagonal + .clients {
			padding-top: 100px;
			margin-top: -150px;
			background: $white;

		}
	}

	section.technology,
	section.clients {

		.headline {
			text-align: center;
			padding-bottom: 25px;
		}

		.gallery {
			display: grid;
			gap: 30px 50px;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));	
			
			.item {
				display: flex;
				place-items: center;
				flex-wrap: wrap;

				img {
					max-width: 100px;
					margin: 0 auto;
				}
			}					
		}

	}

	section.technology {
		padding: 75px 0;
		background: $white;

		@include tablet-portrait {
			padding: 150px 0;
		}

		.item {
			.icon {
				width: 100%;
			}

			.copy {
				max-width: 80%;
				margin: 0 auto;
				text-align: center;
			}
		}
	}


	section.clients {
		padding: 150px 0 75px 0;
		overflow: hidden;
		background: $off-white;

		@include tablet-portrait {
			padding: 250px 0 150px 0;
		}
	}



	.site-footer {
		margin-top: 0;
	}
}