body.single-post {

	.site-content {
		padding-top: 50px;

		@include tablet-landscape {
			padding-top: 100px;
		}

	}

	section.article-wrapper {
		.wrapper {
			@include tablet-landscape {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;

				& > article {
					width: calc(75% - 25px);
				}

				& > aside {
					width: calc(25% - 25px);
				}
			}
		}
	}

	article.post {

		section.article-header {
			padding-bottom: 25px;
			overflow: visible;


			@include tablet-landscape {
				padding-bottom: 40px;
			}

			.headline {
				padding-bottom: 25px;

				@include tablet-landscape {
					padding-bottom: 40px;
				}

				h4 {
					font-size: 0.75rem;
					padding-bottom: 5px;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					a {
						color: $red;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				h1 {
					font-size: 1.75rem;

					@include tablet-landscape {
						font-size: 2.25rem;
					}
				}
			}
		}


		section.article-body {
			.copy {
				h2, h3, h4, h5, h6 {
					padding: 20px 0 10px 0;
					line-height: 1.25em;
				}

				blockquote {
					h2, h3, h4, h5, h6 {
						padding: 0 0 20px 0;
					}
				}
			}
		}
	}

	aside {
		padding-top: 40px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include mobile-landscape {
			padding-top: 80px;
		}

		@include tablet-landscape {
			padding-top: 0;
		}

		& > div {
			width: 100%;

			padding-bottom: 60px;				

			@include mobile-landscape {
				width: 33.3333%;

				&.newsletter {
					width: 100%;
				}
			}

			@include tablet-landscape {
				width: 100%;
				padding-bottom: 0;
				

				& + div {
					padding-top: 60px;
				}
			}
		}

		.copy.small.p4 {
			padding-top: 5px;
			@include tablet-portrait {
				max-width: 180px;
			}
		}

		a {

			&:hover {
				text-decoration: underline;
			}
		}

		h5 {
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.8125em;
			color: $slate;

			&:after {
				display: block;
				content: '';
				width: 25px;
				height: 2px;
				background: $green;
				margin: 8px 0 5px 0;
			}
		}

		.share {
			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}
			.links {
				display: flex;
				align-items: center;

				.link {
					&.twitter {
						margin-top: 2px;
					}

					& + .link {
						padding-left: 20px;
					}

					a {
						img {
							width: 100%;
							height: 100%;
							max-width: 18px;
							max-height: 16px;
						}
					}
				}
			}
		}

		.authors {
			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}

			.author {
				display: flex;
				align-items: center;

				& + .author {
					padding-top: 10px;
				}

				.photo {
					max-width: 40px;
				}

				.copy {
					flex: 1;
					padding-left: 10px;
				}
			}
		}

		.newsletter {
			background: $light-green;	
			color: $black;
			padding: 40px 20px;
			margin-bottom: 50px;

			@include tablet-portrait {
				margin-top: 60px;
				margin-bottom: 0;
			}			

			h5 {
				color: $black;

				&:after {
					background: $black;
				}
			}

			.copy {
				padding-bottom: 15px;

				p {
					color: $black;
					font-size: 0.875rem;
					line-height: 1.25em;
				}
			}
			input[type="email"],
			input[type="text"] {
				display: block;
				width: 100%;
				padding: 10px;
				border: none;
			}

			label {
				color: $black;
				display: block;
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				padding: 20px 0 5px 0;
				font-weight: 500;
				opacity: 0.8;
			}

			button[type="submit"] {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: 500;
				border: none;
				border-bottom: 3px solid $green;
				color: $black;
				padding: 0 0 3px 0;
				background: transparent;
				margin-top: 20px;
			}			
		}

		.sidebar-search {
			padding-top: 40px;
			width: 100%;

			.search-wrapper {
				padding-top: 10px;

				form {
					display: flex;
					align-items: center;
					width: 100%;

					input[type="search"] {
						display: block;
						padding: 5px 10px;
						border-radius: 0;
						border: 1px solid $green;
						appearance: none;
						max-width: 200px;

						&:focus,
						&:active {
							outline: none;
						}
					}

					input[type="submit"] {
						display: inline-block;
						text-transform: uppercase;
						letter-spacing: 0.05em;
						font-size: 0.875em;
						font-weight: 500;
						border: none;
						padding: 0 0 5px 0;
						border-bottom: 2px solid $green;
						color: $slate;
						background: transparent;
						margin-left: 10px;		
					}
				}
						
			}
		}

		.recent-posts {
			width: 100%;
			max-width: 400px;

			h5 {
				&:after {
					margin-bottom: 15px;
				}
			}

			article.recent {
				+ article.recent {
					padding-top: 50px;
				}
			}
			.headline {
				padding-bottom: 5px;

				h4 {
					font-size: 0.75em;
				}
			}
		}
	}
}
