body.page-template-why {

	section.intro {
		padding: 100px 0;

		.wrapper {
			@include mobile-landscape {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > div {
					width: calc(50% - 25px);
				}

				.graphic {
					order: 2;
				}
			}
		}

		.graphic {
			img {
				margin: 0 auto;
			}
		}

		.info {
			padding-top: 25px;

			.copy {
				padding-top: 25px;
				max-width: 480px;
			}
		}
	}

	section.how {
		padding: 100px 0;
		background: $off-white;

		@include mobile-landscape {
			padding: 125px 0;
		}

		@include tablet-portrait {
			padding: 200px 0;
		}

		.section-header {
			text-align: center;
			padding-bottom: 50px;

			@include tablet-portrait {
				padding-bottom: 100px;
			}

			h3 {
				color: $red;
			}
		}

		.feature {
			max-width: 1038px;
			margin: 0 auto;

			@include mobile-landscape {
				display: flex;
				justify-content: space-between;
				align-items: center;

				& > div {
					width: 50%;
				}

				.info{
					flex: 1;
				}

				&:nth-of-type(even) {
					.photo {
						order: 2;
					}
				}
			}

			& + .feature {
				padding-top: 100px;

				@include tablet-portrait {
					padding-top: 150px;
				}
			}

			.photo {
				@include aspect-ratio(800, 560);

				@include tablet-portrait {
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					z-index: 5;
					position: relative;
				}
			}

			&:nth-of-type(odd) {
				@include tablet-portrait {
					.info {
						transform: translateX(-50px);
						padding-left: 90px;
					}

				}

				@include tablet-landscape {
					.info {
						transform: translate3d(-50px, -50px, 0);
					}					
				}
			}

			&:nth-of-type(even) {
				@include tablet-portrait {
					.info {
						transform: translateX(50px);
						padding-right: 90px;
					}

				}

				@include tablet-landscape {
					.info {
						transform: translate3d(50px, -50px, 0);
					}					
				}
			}

			.info {
				background: $white;
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
				padding: 40px;

				.copy {
					padding-top: 10px;
				}

				.cta {
					padding-top: 25px;
				}
			}


		}




	}
}