.btn {
	color: $red;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.875rem;
	letter-spacing: 0.05em;
	padding: 15px;
	border: 2px solid $red;
	border-radius: 4px;
	line-height: 1em;

	&:hover {
		background: $red;
		color: $white;
	}
}

.small-red-btn {
	background: $red;
	color: $white;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1em;
	padding: 15px;
	border-radius: 4px;

	&.wide {
		padding: 15px 30px;
	}

	@include tablet-landscape {
		font-size: 0.875rem;
		padding: 18px;

		&.wide {
			padding: 18px 36px;
		}
	}
}


.underline-btn {
	display: inline-block;
	padding-bottom: 3px;
	border-bottom: 2px solid $red;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	@include tablet-portrait {
		font-size: 0.875rem;
	}
}