:root {
	--svg-ltr: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='white'><polygon points='100 0, 100 10, 0 10' /></svg>");
	--svg-rtl: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='white'><polygon points='0 0, 100 10, 0 10' /></svg>");

	--svg-ltr-gray: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='rgb(250, 250, 250)'><polygon points='100 0, 100 10, 0 10' /></svg>");
	--svg-rtl-gray: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10' preserveAspectRatio='none' fill='rgb(250, 250, 250)'><polygon points='0 0, 100 10, 0 10' /></svg>");
}

.diagonal {
	z-index: 10;

	&.top {
		margin-bottom: -50px;
		transform: rotate(180deg);

		@include tablet-portrait {
			margin-bottom: -100px;
		}

		@include desktop {
			margin-bottom: -150px;
		}
	}

	&.bottom {
		margin-top: -50px;

		@include tablet-portrait {
			margin-top: -100px;
		}

		@include desktop {
			margin-top: -150px;
		}
	}

	.shape {
		display: block;
		width: 100%;
		height: 50px;
		background-size: 100% 50px;
		background-repeat: no-repeat;

		@include tablet-portrait {
			height: 100px;
			background-size: 100% 100px;
		}

		@include desktop {
			height: 150px;	
			background-size: 100% 150px;
		}
	}

	.ltr {
		background-image: var(--svg-ltr);
	}

	.rtl {
		background-image: var(--svg-rtl);
	}
}



