section.hero {
	@include aspect-ratio(1, 1);

	@include mobile-landscape {
		@include aspect-ratio(16, 9);
		max-height: 700px;
	}

	@include tablet-landscape {
		@include aspect-ratio(16, 7);
	}

	.hero-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.hero-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	.wrapper {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.info {
		padding: 50px 0;
		color: $white;
		max-width: 600px;

		.sub-headline {
			padding-bottom: 10px;

			h4 {
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.875rem;
			}
		}

		.copy {
			padding-top: 25px;

			p + p {
				padding-top: 25px;
			}
		}
	}
}